@model EGG9000.Site.Controllers.AdminController.ScoreResult
@{
}

<script>
    function copyIdToClipboard(id, notifId) {
        navigator.clipboard.writeText((typeof id === "object") ? id.innerText : id.toString());
        if (notifId) {
            var notification = document.getElementById(notifId);
            notification.style.display = "block";
            notification.style.opacity = "1";

            setTimeout(function () {
                notification.style.opacity = "0";
            }, 2000);
        }
    }
</script>

<h3>Users Below Threshold</h3>
<div class="copy-notification" id="low-copy-notification-name">Username copied!</div>
<div class="copy-notification" id="low-copy-notification-discord">Discord ID copied!</div>
<div class="copy-notification" id="low-copy-notification-eid">EID copied!</div>
<table class="table table-striped table-sm" style="width: auto;">
    <thead>
        <tr>
            <th></th>
            <th>User</th>
            <th>RS</th>
            <th>Discord ID</th>
            <th>EID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.UsersBelowThreshold.OrderBy(x => x.RunningScore)) {
            <tr>
                <td><img class="thumbnail" src="@PlayerGradeDetails.GetImage(user.Grade)" /></td>
                <td onclick="copyIdToClipboard('@user.DiscordUsername.Split(" (")[0]', 'low-copy-notification-name')" title="Click to copy">@user.DiscordUsername</td>
                <td>@user.RunningScore.ToString("G3")</td>
                <td onclick="copyIdToClipboard('@user.DiscordId', 'low-copy-notification-discord')" title="Click to copy">@user.DiscordId</td>
                <td onclick="copyIdToClipboard('@user.EggIncId', 'low-copy-notification-eid')" title="Click to copy">@user.EggIncId</td>
            </tr>
        }
    </tbody>
</table>

<h3>Top 10 Scores</h3>
<div class="copy-notification" id="high-copy-notification-name">Username copied!</div>
<div class="copy-notification" id="high-copy-notification-discord">Discord ID copied!</div>
<div class="copy-notification" id="high-copy-notification-eid">EID copied!</div>
<table class="table table-striped table-sm" style="width: auto;">
    @foreach (var user in Model.TopScore) {
        <tr>
            <td><img class="thumbnail" src="@PlayerGradeDetails.GetImage(user.Grade)" /></td>
            <td onclick="copyIdToClipboard('@user.DiscordUsername.Split(" (")[0]', 'high-copy-notification-name')" title="Click to copy">@user.DiscordUsername</td>
            <td>@user.Score.ToString("G3")</td>
            <td onclick="copyIdToClipboard('@user.DiscordId', 'high-copy-notification-discord')" title="Click to copy">@user.DiscordId</td>
            <td onclick="copyIdToClipboard('@user.EggIncId', 'high-copy-notification-eid')" title="Click to copy">@user.EggIncId</td>
        </tr>
    }
</table>
<style>
    .thumbnail {
        width: 1em;
        height: 1em;
    }
</style>
