@model EGG9000.Site.Controllers.AdminController.ScoreResult
@{
}


<h3>Users Below Threshold</h3>
<table class="table table-striped table-sm" style="width: auto;">
    <thead>
        <tr>
            <th></th>
            <th>User</th>
            <th>RS</th>
            <th>Discord ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.UsersBelowThreshold.OrderBy(x => x.RunningScore)) {
            <tr>
                <td><img class="thumbnail" src="@PlayerGradeDetails.GetImage(user.Grade)" /></td>
                <td>@user.DiscordUsername</td>
                <td>@user.RunningScore.ToString("G3")</td>
                <td>@user.DiscordId</td>
            </tr>
        }
    </tbody>
</table>

<h3>Top 10 Scores</h3>
<table class="table table-striped table-sm" style="width: auto;">
    @foreach (var user in Model.TopScore) {
        <tr>
            <td><img class="thumbnail" src="@PlayerGradeDetails.GetImage(user.Grade)" /></td>
            <td>@user.DiscordUsername</td>
            <td>@user.Score.ToString("G3")</td>
            <td>@user.DiscordId</td>
        </tr>
    }
</table>
<style>
    .thumbnail {
        width: 1em;
        height: 1em;
    }
</style>
