@using Discord.WebSocket
@using EGG9000.Common.Helpers
@using System.Reflection
@using System.ComponentModel
@model Guild
@inject DiscordSocketClient discord
@{
	ViewData["Title"] = "Configure Server";
	var channelDetails = Model.ChannelDetails;
	var coopSettings = Model.CoopSettings;
	var guild = discord.GetGuild(Model.Id);
}
<style>
	.card {
		margin-top: 50px;
	}

	.table {
		border-bottom: 1px solid #ccc;
		caption-side: top !important;
	}

	div.custom-card {
		display: inline-block;
		padding: 2px 5px;
		border-radius: 7px;
		margin: 5px;
		border: 2px solid;
		font-size: 0.8rem;
		font-weight: bold;
	}

	div.tc-card {
		background-color: gray;
		border-color: darkgray;
		color: black;
	}

	div.requ-card {
		background-color: lightsalmon;
		border-color: darksalmon;
		color: black;
	}

	div.opt-card {
		background-color: lightgreen;
		border-color: darkolivegreen;
		color: darkgreen;
	}

	.tooltip-custom {
		position: relative;
		display: inline-block;
	}

		.tooltip-custom:hover .tooltiptext-custom {
			display: inline-block;
			z-index: 3;
			position: absolute;
			bottom: 25px;
			left: 50%;
			transform: translateX(-50%);
		}

	.tooltiptext-custom {
		display: none;
		border: 1px solid #ccc;
		padding: 10px;
		border-radius: 4px;
		white-space: nowrap;
		text-align: center;
		position: absolute;
		background-color: rgba(130, 135, 140, 0.95);
	}

	[data-bs-theme="dark"] .tooltiptext-custom {
		background-color: rgba(33, 37, 41, 0.95);
	}


	[data-bs-theme="dark"] .speech-bubble {
		background-color: rgba(33, 37, 41, 0.95);
		color: white !important;
	}

	.speech-bubble {
		background-color: rgba(130, 135, 140, 0.95);
		color: black !important;
		position: relative;
		padding: 10px;
		margin: 10px auto;
		border-radius: 5px;
	}

		.speech-bubble :after {
			content: "";
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -15px;
			border-width: 15px;
			border-style: solid;
			border-color: #ccc transparent transparent transparent;
		}

	.custom-input {
		display: inline-block;
		padding: 4px;
		border: 1px solid #007bff;
		border-radius: 3px;
		color: #333;
		background-color: #fff;
		transition: border-color 0.3s;
	}

	[data-bs-theme="dark"] .custom-input {
		border-color: #343a40;
		color: #fff;
		background-color: #343a40;
	}

</style>
<h2>Configure Server</h2>

<table class="table table-striped">
	<thead>
		<tr style="text-align: center; font-size: larger"><th colspan="3">Channels, Threads & Categories</th></tr>
		<tr>
			<th>Type</th>
			<th>Description</th>
			<th>ID</th>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var val in Enum.GetValues<GuildChannelType>()) {
			FieldInfo fi = val.GetType().GetField(val.ToString());
			DescriptionAttribute[] attributes = fi.GetCustomAttributes(typeof(DescriptionAttribute), false) as DescriptionAttribute[];
			var description = (attributes != null && attributes.Any()) ? attributes.First().Description : val.ToString();
			if (description.StartsWith("/R/")) continue;
			<tr>
				<td>
					@val.ToString()
					@if(description.StartsWith("/TC/") || description.Contains("Optional:") || description.StartsWith("Required: ")){
						<br/>
						@if (description.StartsWith("/TC/")){
							<div class="custom-card tooltip-custom tc-card">
								Thread/Channel
								<span class="tooltiptext-custom speech-bubble">This parameter will accept either a Channel ID or Thread ID.</span>
							</div>
						}
						@if (description.Contains("Optional:")){
							<div class="custom-card tooltip-custom opt-card">
								Optional
								<span class="tooltiptext-custom speech-bubble">This parameter is not required, and it is up to your discretion to choose to use it or not.</span>
							</div>
						}
						@if (description.StartsWith("Required:")){
							<div class="custom-card tooltip-custom requ-card">
								Required
								<span class="tooltiptext-custom speech-bubble">This parameter is required for your server to function correctly.</span>
							</div>
						}
					}
				</td>
				<td>
					@description.Replace("/TC/", "").Replace("Optional: ", "").Replace("Required: ", "")
				</td>
				<td>
					@{
						var detail = channelDetails.FirstOrDefault(x => x.ChannelType == val) ?? new ChannelDetail { ChannelType = val };
									<input class="custom-input channelDetail" id="@val.ToString()" value="@detail.Id" />
					}
				</td>
				<td>
					@discord.GetGuild(Model.Id).GetChannel(@detail.Id)?.Name
				</td>
			</tr>
		}
	</tbody>
</table>

<table class="table table-striped">
	<thead>
		<tr style="text-align: center; font-size: larger"><th colspan="3">Roles</th></tr>
		<tr>
			<th>Description</th>
			<th>ID</th>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var val in Enum.GetValues<GuildChannelType>()) {
			FieldInfo fi = val.GetType().GetField(val.ToString());
			DescriptionAttribute[] attributes = fi.GetCustomAttributes(typeof(DescriptionAttribute), false) as DescriptionAttribute[];
			var description = (attributes != null && attributes.Any()) ? attributes.First().Description : val.ToString();
			if (!description.StartsWith("/R/")) continue;
			var detail = channelDetails.FirstOrDefault(x => x.ChannelType == val) ?? new ChannelDetail { ChannelType = val };
			var role = discord.GetGuild(Model.Id).GetRole(detail.Id);
			<tr>
				<td>
					@description.Replace("/R/", "")
				</td>
				<td>
					@{
						<input class="custom-input channelDetail" id="@val.ToString()" value="@detail.Id" />
					}
				</td>
				@if(role != null) {
					<td style="color: @role.Colors.PrimaryColor.ToString();">
						@discord.GetGuild(Model.Id).GetRole(@detail.Id)?.Name
					</td>
				} else {
					<td></td>
				}
			</tr>
		}
	</tbody>
</table>

<table class="table table-striped">
	<thead>
		<tr style="text-align: center; font-size: larger;"><th colspan="4">Co-op Setting Overrides</th></tr>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Enabled</th>
			<th>Locked</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var val in Enum.GetValues<GuildCoopSetting>()) {
			FieldInfo fi = val.GetType().GetField(val.ToString());
			DescriptionAttribute[] attributes = fi.GetCustomAttributes(typeof(DescriptionAttribute), false) as DescriptionAttribute[];
			var description = (attributes != null && attributes.Any()) ? attributes.First().Description : val.ToString();

			var setting = coopSettings.FirstOrDefault(x => x.CoopSetting == val);
			var enabled = setting?.Enabled ?? false;
			var locked = setting?.Locked ?? false;

			<tr class="coopOverrideContainer" id="@val">
				<td>@val</td>
				<td>@description</td>
				<td> <input class="custom-input coopOverrideEnabled" type="checkbox" value="true" checked="@enabled" /> </td>
				<td> <input class="custom-input coopOverrideLocked" type="checkbox" value="true" checked="@locked" /> </td>
			</tr>
		}
	</tbody>
</table>

<div class="card">
	<div class="card-header">Co-op Channels Category (and overflows if needed)</div>
	<div class="card-body">
		@foreach (var coopCategory in (Model.CoopCategories ?? "").Split(",")) {
			ulong.TryParse(coopCategory, out ulong id);
			<div><input class="custom-input coopCategory" value="@coopCategory" /> @discord.GetGuild(Model.Id).GetChannel(id)?.Name</div>
		}
		<button style="margin-top: 10px;" class="btn btn-primary" onclick="InsertCoopCategory(this)">Add Category</button>
	</div>
</div>

<div class="card">
	<div class="card-header">Finished Channels Category (and overflows if needed)</div>
	<div class="card-body">
		@foreach (var finishedCategory in (Model.FinishedCategories ?? "").Split(",")) {
			ulong.TryParse(finishedCategory, out ulong id);
			<div><input class="custom-input finishedCategory" value="@finishedCategory" /> @discord.GetGuild(Model.Id).GetChannel(id)?.Name</div>
		}
		<button style="margin-top: 10px;" class="btn btn-primary" onclick="InsertFinishedCategory(this)">Add Category</button>
	</div>
</div>

<div class="card">
	<div class="card-header">Boarding Groups</div>
	<div class="card-body">
		<label>
			<input class="custom-input" type="checkbox" value="true" id="DisableBG" onclick="ShowGroupRoles(this)" checked="@Model.DisableBG" /> Disable Boarding Groups
		</label>
		<div id="GroupRoles" style="@(Model.DisableBG ? "" : "display: none;")">
			<b>Group Roles</b>
			@foreach (var roleid in (Model.GroupRoles ?? "").Split(",").Where(x => x.Length > 0)) {
				var role = guild.GetRole(ulong.Parse(roleid));
				<div>
					<input class="GroupRole" value="@roleid" />@(role?.Name ?? "**Missing Role**")
				</div>
			}
			<button class="btn btn-primary" onclick="InsertGroupRole(this)">Add Role</button>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-header">Guilds</div>
	<div class="card-body">
		Guilds will attempt to include other members of the same guild when creating co-ops as long as they are in the same boarding group and it doesn't affect EB balance.
		<label>
			<input class="custom-input" type="checkbox" value="true" id="AllowGuilds" checked="@Model.AllowGuilds" /> Allow Guilds
		</label>
	</div>
</div>

<div class="card">
	<div class="card-header">FAQ Topics</div>
	<div class="card-body">
		<label>
			<input class="custom-input" type="checkbox" value="true" id="FaqTopicsEnabled" checked="@Model.FAQTopicsEnabled" /> Enable FAQ Topics
		</label>
		<br/>
		<label>FAQ Post Cooldown (Minutes) <input style="margin-left: 3px;" class="custom-input" type="number" min="0" value="@Model.FAQTopicCooldownMinutes" id="FaqTopicCooldownMinutes" /></label>
	</div>
</div>

<div class="card">
	<div class="card-header">Other Settings</div>
	<div class="card-body">
		<div>
			<label>
				<input class="custom-input" type="checkbox" value="true" id="PublicScoreGrid" checked="@Model.PublicScoreGrid" /> Allow everyone to view Score Grid
			</label>
			<br/>
			<label>
					<input class="custom-input" type="checkbox" value="true" id="RemoveFindCoopSpot" checked="@Model.RemoveFindCoopSpot" /> Remove <button class="btn btn-primary btn-sm" disabled>Find Coop Spot</button> buttons from Co-op channels
			</label>
			<br />
			<label>
				<input class="custom-input" type="checkbox" value="true" id="AddOutsideCoops" checked="@Model.AddOutsideCoops" /> Add Outside Co-ops from Backups
			</label>
		</div>
		<label>Running Score Threshold <input style="margin-left: 3px;" class="custom-input" type="number" step="0.01" value="@Model.MinimumRunningScore" id="MinimumRunningScore" /></label>
		<label>Co-op Prefix <input style="margin-left: 3px;" class="custom-input" value="@Model.CoopNamePrefix" id="CoopNamePrefix" /></label>
	</div>
</div>

<button style="margin-top: 15px;" class="btn btn-success" onclick="SaveChannels(this)">Save Settings</button>
<hr />


@if (Model.OverflowServers.Any()) {
	var allRoles = discord.GetGuild(Model.Id).Roles.OrderByDescending(x => x.Position);
	var roleIds = (Model.RolesToSync ?? "").Split(",");
	<h3>Sync Roles to overflows</h3>
	foreach (var role in allRoles) {
		<div>
			<label style="color: @(role.Colors.PrimaryColor.ToString() != "#000000" ? role.Colors.PrimaryColor : "")">
				<input class="role custom-input" data-id="@role.Id" type="checkbox" checked="@roleIds.Any(x => x == role.Id.ToString())" />
				@role.Name <img style="height: 1em; vertical-align: baseline;" src="@role.GetIconUrl()" />
			</label>
		</div>
	}
	<button style="margin-top: 10px;" class="btn btn-success" onclick="SaveRoles(this)">Save Roles</button>
	<hr />
}


@section Scripts {
	<script>
		function SaveChannels(button) {
			$(button).removeClass("btn-success");
			$(button).attr("disabled", "disabled");

			var details = [];
			$(".channelDetail").each(
				(index, element) => { 
					details.push(
						{ 
							Id: $(element).val(), 
							ChannelType: $(element).attr("id") 
						}
					);
				}
			);

			var coopSettings = [];
			$('.coopOverrideContainer').each(
				(index, element) => {
					var enabled = $(element).find('.coopOverrideEnabled').prop('checked');
					var locked = $(element).find('.coopOverrideLocked').prop('checked');

					coopSettings.push({
						CoopSetting: $(element).attr("id"),
						Enabled: Boolean(enabled),
						Locked: Boolean(locked)
					});
				}
			);

			var coopCategories = GetCategoryJoins(".coopCategory");
			var finishedCategories = GetCategoryJoins(".finishedCategory");

			$.post("/admin/savechanneldetails/@(Model.Id)", {
				json:
					JSON.stringify({
						coopSettingsOverrides: coopSettings,
						channelDetails: details,
						coopCategories: coopCategories,
						finishedCategories: finishedCategories,
						disableBG: $("#DisableBG").is(":checked"),
						AllowGuilds: $("#AllowGuilds").is(":checked"),
						GroupRoles: GetCategoryJoins(".GroupRole"),
						PublicScoreGrid: $("#PublicScoreGrid").is(":checked"),
						RemoveFindCoopSpot: $("#RemoveFindCoopSpot").is(":checked"),
						CoopNamePrefix: $("#CoopNamePrefix").val(),
						MinimumRunningScore: $("#MinimumRunningScore").val(),
						AddOutsideCoops: $("#AddOutsideCoops").is(":checked"),
						FaqTopicsEnabled: $("#FaqTopicsEnabled").is(":checked"),
						FaqTopicCooldownMinutes: $("#FaqTopicCooldownMinutes").val()
					})
			}, function () {
				document.location = document.location;
			});
		}
		function SaveRoles(button) {
			$(button).removeClass("btn-success");
			$(button).attr("disabled", "disabled");

			var rolesjoin = $.map($(".role:checked"), function (val, i) { return $(val).data("id"); }).join(",");


			$.post("/admin/SaveRolesToSync/@(Model.Id)", { rolestosync: rolesjoin }, function () {
				document.location = document.location;
			});
		}

		function InsertCoopCategory(button) {
			$('<div><input class=\"coopCategory\" /></div>').insertBefore($(button));
		}
		function InsertFinishedCategory(button) {
			$('<div><input class=\"finishedCategory\" /></div>').insertBefore($(button));
		}
		function InsertGroupRole(button) {
			$('<div><input class=\"GroupRole\" /></div>').insertBefore($(button));
		}
		function ShowGroupRoles(input) {
			if ($(input).is(":checked")) {
				$("#GroupRoles").show();
			} else {
				$("#GroupRoles").hide();
			}
		}
		function GetCategoryJoins(selector) {
			var arr = Array.from($(selector).map((index, element) => $(element).val()));
			arr = arr.filter(n => n != "" && n != 0);
			console.log(arr);
			return arr.join(",");
		}
	</script>
}
