@using Discord.WebSocket
@using EGG9000.Common.Helpers
@using System.Reflection
@using System.ComponentModel
@model Guild
@inject DiscordSocketClient discord
@{
	var channelDetails = Model.ChannelDetails;
	var guild = discord.GetGuild(Model.Id);
}
<style>
	.card {
		margin-top: 50px;
	}

	.table {
		border-bottom: 1px solid #ccc;
	}
</style>
<h2>Configure Server</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Type</th>
			<th>Description</th>
			<th>ID</th>
			<th>Channel/Role Name</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var val in Enum.GetValues<GuildChannelType>()) {
			<tr>
				<td>@val.ToString()</td>
				<td>
					@{
						FieldInfo fi = val.GetType().GetField(val.ToString());

						DescriptionAttribute[] attributes = fi.GetCustomAttributes(typeof(DescriptionAttribute), false) as DescriptionAttribute[];

						if (attributes != null && attributes.Any()) {
							@attributes.First().Description
							;
						} else {
							@val.ToString()
							;
						}

					}
				</td>
				<td>
					@{
						var detail = channelDetails.FirstOrDefault(x => x.ChannelType == val) ?? new ChannelDetail { ChannelType = val };
						<input class="channelDetail" id="@val.ToString()" value="@detail.Id" />
					}
				</td>
				<td>
					@discord.GetGuild(Model.Id).GetChannel(@detail.Id)?.Name
					@discord.GetGuild(Model.Id).GetRole(@detail.Id)?.Name
				</td>
			</tr>
		}
	</tbody>
</table>

<div class="card">
	<div class="card-header">Co-op Channels Category (and overflows if needed)</div>
	<div class="card-body">
		@foreach (var coopCategory in (Model.CoopCategories ?? "").Split(",")) {
			ulong.TryParse(coopCategory, out ulong id);
			<div><input class="coopCategory" value="@coopCategory" />@discord.GetGuild(Model.Id).GetChannel(id)?.Name</div>
		}
		<button class="btn btn-primary" onclick="InsertCoopCategory(this)">Add Category</button>
	</div>
</div>

<div class="card">
	<div class="card-header">Finished Channels Category (and overflows if needed)</div>
	<div class="card-body">
		@foreach (var finishedCategory in (Model.FinishedCategories ?? "").Split(",")) {
			ulong.TryParse(finishedCategory, out ulong id);
			<div><input class="finishedCategory" value="@finishedCategory" />@discord.GetGuild(Model.Id).GetChannel(id)?.Name</div>
		}
		<button class="btn btn-primary" onclick="InsertFinishedCategory(this)">Add Category</button>
	</div>
</div>

<div class="card">
	<div class="card-header">Boarding Groups</div>
	<div class="card-body">
		<label>
			<input type="checkbox" value="true" id="DisableBG" onclick="ShowGroupRoles(this)" checked="@Model.DisableBG" /> Disable Boarding Groups
		</label>
		<div id="GroupRoles" style="@(Model.DisableBG ? "" : "display: none;")">
			<b>Group Roles</b>
			@foreach (var roleid in (Model.GroupRoles ?? "").Split(",").Where(x => x.Length > 0)) {
				var role = guild.GetRole(ulong.Parse(roleid));
				<div>
					<input class="GroupRole" value="@roleid" />@role.Name
				</div>
			}
			<button class="btn btn-primary" onclick="InsertGroupRole(this)">Add Role</button>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-header">Guilds</div>
	<div class="card-body">
		Guilds will attempt to include other members of the same guild when creating co-ops as long as they are in the same boarding group and it doesn't affect EB balance.
		<label>
			<input type="checkbox" value="true" id="AllowGuilds" checked="@Model.AllowGuilds" /> Allow Guilds
		</label>
	</div>
</div>

<button class="btn btn-success" onclick="SaveChannels(this)">Save Channels</button>



@if (Model.OverflowServers.Any()) {
	var allRoles = discord.GetGuild(Model.Id).Roles.OrderByDescending(x => x.Position);
	var roleIds = (Model.RolesToSync ?? "").Split(",");
	<h3>Sync Roles to overflows</h3>
	foreach (var role in allRoles) {
		<div>
			<label style="color: @(role.Color.ToString() != "#000000" ? role.Color: "")">
				<input class="role" data-id="@role.Id" type="checkbox" checked="@roleIds.Any(x => x == role.Id.ToString())" />
				@role.Name <img style="height: 1em; vertical-align: baseline;" src="@role.GetIconUrl()" />
			</label>
		</div>
	}
	<button class="btn btn-success" onclick="SaveRoles(this)">Save Roles</button>
}


@section Scripts {
	<script>
		function SaveChannels(button) {
			$(button).removeClass("btn-success");
			$(button).attr("disabled", "disabled");
			var details = [];

			$(".channelDetail").each((index, element) => { details.push({ Id: $(element).val(), ChannelType: $(element).attr("id") }); });


			var coopCategories = GetCategoryJoins(".coopCategory");
			var finishedCategories = GetCategoryJoins(".finishedCategory");

			$.post("/admin/savechanneldetails/@(Model.Id)", {
				json:
					JSON.stringify({
						channelDetails: details,
						coopCategories: coopCategories,
						finishedCategories: finishedCategories,
						disableBG: $("#DisableBG").is(":checked"),
						AllowGuilds: $("#AllowGuilds").is(":checked"),
						GroupRoles: GetCategoryJoins(".GroupRole")
					})
			}, function () {
				document.location = document.location;
			});
		}
		function SaveRoles(button) {
			$(button).removeClass("btn-success");
			$(button).attr("disabled", "disabled");

			var rolesjoin = $.map($(".role:checked"), function (val, i) { return $(val).data("id"); }).join(",");


			$.post("/admin/SaveRolesToSync/@(Model.Id)", { rolestosync: rolesjoin }, function () {
				document.location = document.location;
			});
		}

		function InsertCoopCategory(button) {
			$('<div><input class=\"coopCategory\" /></div>').insertBefore($(button));
		}
		function InsertFinishedCategory(button) {
			$('<div><input class=\"finishedCategory\" /></div>').insertBefore($(button));
		}
		function InsertGroupRole(button) {
			$('<div><input class=\"GroupRole\" /></div>').insertBefore($(button));
		}
		function ShowGroupRoles(input) {
			if ($(input).is(":checked")) {
				$("#GroupRoles").show();
			} else {
				$("#GroupRoles").hide();
			}
		}
		function GetCategoryJoins(selector) {
			var arr = Array.from($(selector).map((index, element) => $(element).val()));
			arr = arr.filter(n => n != "" && n != 0);
			console.log(arr);
			return arr.join(",");
		}
	</script>
}