@model List<LeaderboardUser>
@using EGG9000.Bot;
@using EGG9000.Common;

@inject Discord.WebSocket.DiscordSocketClient discord
@{
    ViewData["Title"] = "Comparison";
    List<Tuple<double, string>> myEb = ViewBag.MyEbs;
    List<Tuple<double, string>> listOfEb = ViewBag.ListOfEb;
    List<string> allRoles = ViewBag.AllRoles;
}

<h1>EB Comparison</h1>
<hr />

<div class="row">
    <div class="col-md-3 mt-3">
        <div class="card">
            <div class="card-header"><b>Your Eb</b></div>
            <div class="card-body">
                @foreach (var eb in myEb)
                {
                    @ArgumentsHelper.NumberToString(eb.Item1,true,2) @:- @eb.Item2<br>
                }
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-3">
        <div class="card">
            <div class="card-header"><b>Servers Highest Eb</b></div>
            <div class="card-body">
                @ArgumentsHelper.NumberToString((listOfEb.Select(o => o.Item1).Max()),true,2) - @SIPrefix.GetCurrentRankNameFromEb(listOfEb.Select(o => o.Item1).Max(),true)
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-3">
        <div class="card">
            <div class="card-header"><b>Average Eb</b></div>
            <div class="card-body">
                @ArgumentsHelper.NumberToString(listOfEb.Select(o => o.Item1).Average(),true,2) - @SIPrefix.GetCurrentRankNameFromEb(listOfEb.Select(o => o.Item1).Average(),true)
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-3">
        <div class="card">
            <div class="card-header"><b>Median Eb</b></div>
            <div class="card-body">
                @{
                    var medianEb = listOfEb.Select(o => o.Item1).ToList()[listOfEb.Select(o => o.Item1).ToList().Count() / 2];
                }
                @ArgumentsHelper.NumberToString(medianEb,true,2) - @SIPrefix.GetCurrentRankNameFromEb(medianEb,true)
            </div>
        </div>
    </div>
</div>
<div class="mt-3 card">
    <h4 class="card-header">Server EB Distribution</h4>
    <div class="card-body">
        <div id="chartEb"></div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
var ebOptions = {
    series: [{
        data: [
            @foreach (var r in allRoles)
            {
                if (listOfEb.Count(o => o.Item2 == r) != 0)
                {
                    @Html.Raw($"{listOfEb.Count(o => o.Item2 == r)},")
                }
            }
        ]
    }],
    theme: {
        mode: getCookie('Egg9000Theme') == 'bootstrap-dark' ? 'dark' : 'light'
    },
    annotations: {
        points: [
            @foreach (var eb in myEb)
            {
            @:{
            @:  x: '@eb.Item2',
            @:  seriesIndex: 0,
            @:  label: {
            @:      borderColor: '#775DD0',
            @:      offsetY: 0,
            @:      style: {
            @:          color: '#fff',
            @:          background: '#775DD0',
            @:      },
            @:      text: 'You are @("aeiouAEIOU".IndexOf(eb.Item2.Substring(0,1)) >= 0 ? "an" : "a") @eb.Item2',
            @:  }
            @:},
            }
            ]
        },
        chart: {
            height: 350,
            type: 'bar',
            events: {
                click: function(chart, w, e) {
                    // console.log(chart, w, e)
                }
            }
        },
        plotOptions: {
            bar: {
                distributed: true,
            }
        },
        dataLabels: {
            enabled: false
        },
        legend: {
            show: false
        },
        xaxis: {
            categories: [
                @foreach (var r in allRoles)
                {
                    if (listOfEb.Count(o => o.Item2 == r) != 0)
                    {
                        @Html.Raw($"'{r}',")
                    }
                }
            ],
            labels: {
                style: {
                    fontSize: '12px'
                }
            }
        },
        tooltip: {
    y: {
      formatter: function(val) {
        return val
      },
      title: {
        formatter: function (seriesName) {
          return ''
        }
      }
    }
  }
    };
    var ebChart = new ApexCharts(document.querySelector("#chartEb"), ebOptions);
    ebChart.render();
</script>