@model EGG9000.Site.Controllers.HomeController.CoopModel
@{
	ViewData["Title"] = "Co-op";
	bool inDb = Model.UserInfos.Any(x => x.Xref != null);
	var ebrgx = new Regex(@"\(\d+.?\d*\w?\)");

	string PercentString(double number) {
		string percent;
		if (number >= 100) {
			percent = number.ToString("0");
		} else if (number >= 10) {
			percent = number.ToString("0.#");
		} else {
			percent = number.ToString("0.##");
		}
		return percent;
	}

	var targetAmount = Model.GoalDetails.Last().Goal.TargetAmount;
	var percent = Math.Min(Model.Progress, 1) * 100;
	//percent = 1;
	string percentStr = PercentString(percent);
	var projectPercent = Model.CoopDetails.CoopParticipants.Where(x => x.CoopStatus is not null).Sum(x => x.Projected) / targetAmount * 100;
	//projectPercent = 2;
	var projectPercentStr = PercentString(projectPercent);

	var projectPercentEveryone = Model.CoopDetails.CoopParticipants.Sum(x => x.Projected) / targetAmount * 100;
	var projectPercentEveryoneStr = PercentString(projectPercentEveryone);

	var discordChannelDeleted = Model.CoopDetails.Coop?.DeletedChannel ?? true;


	var projectPercentWidth = Math.Min(projectPercent, 100) - percent;
	var projectPercentEveryoneWidth = Math.Min(projectPercentEveryone, 100) - projectPercentWidth - percent;

	var isAdmin = User.IsInRole("Admin") || User.IsInRole("GuildAdmin");



}


<div class="card">
	<div class="card-header text-center">
		<!--@Model.CoopStatus.CoopIdentifier-->
		<span class="text-nowrap">
			<img src="/images/Egg_@((int)Model.Contract?.Details.Egg).png" class="EggThumb" />
			@Model.Contract?.Name;
			<img alt="@(((Ei.Contract.Types.PlayerGrade)Model.League).ToString().Replace("_", " "))" src="@((PlayerGradeDetails.GetImage((Ei.Contract.Types.PlayerGrade)Model.League)))" style="width: 20px; height: 20px;" />
		</span>
		<span class="text-nowrap">
			(@Model.CoopStatus.ContractIdentifier)
		</span>
		<!-- If the channel isn't deleted, turn the coop name into a link to the discord channel-->
		@{
			if (!discordChannelDeleted) {
				var discordGuildID = Model.CoopDetails.Coop?.OverflowGuildId != default ? Model.CoopDetails.Coop.OverflowGuildId : Model.CoopDetails.Coop.GuildId;
				var discordChannelID = Model.CoopDetails.Coop?.DiscordChannelId;
				var discordLink = "discord://discordapp.com/channels/" + discordGuildID + "/" + discordChannelID + "/";
				<a href="@discordLink" alt="Discord channel link" style="max-height: 1em;" target="_self"><img src="/images/discordicon.png" /> @Model.CoopStatus.CoopIdentifier</a>
			}
			else {
				@Model.CoopStatus.CoopIdentifier;
			}
		}
		@{
			var status = "success";
			if (Model.CoopDetails.PercentProjected < 100) {
				status = "danger";
			}
		}
		@if (Model.CoopStatus.Public) {
			<div style="font-size: 60%">Public</div>
		}
		<br />
		<b>Current</b> @percentStr%
		<b>Projected</b> @projectPercentStr%
		@if (Model.CoopDetails.CoopParticipants.Any(x => x.CoopStatus is null)) {
			<b>Projected With Everyone</b> @projectPercentEveryoneStr@:%
		}

		<div class="progress" style="height: 22px; margin-top: 10px;">
			<div class="progress-bar bg-@(status) text-dark" role="progressbar" style="width: @percent%;" aria-valuenow="@percent" aria-valuemin="0" aria-valuemax="100">
			</div>
			<div class="progress-bar progress-bar-striped bg-@(status) text-dark" role="progressbar" style="opacity: 0.8; width: @(projectPercentWidth)%;" aria-valuenow="@percent" aria-valuemin="0" aria-valuemax="100">
			</div>
			<div class="progress-bar progress-bar-striped bg-@(status) text-dark" role="progressbar" style="opacity: 0.5; width: @(projectPercentEveryoneWidth)%;" aria-valuenow="@percent" aria-valuemin="0" aria-valuemax="100">
			</div>
		</div>
		<div class="Goals">
			@{
				var previousAmount = 0.0;
				for (var i = 0; i < Model.GoalDetails.Count; i++) {
					var goalTargetAmount = Model.GoalDetails[i].Goal.TargetAmount - previousAmount;
					previousAmount = goalTargetAmount;
					var width = goalTargetAmount / Model.GoalDetails.Last().Goal.TargetAmount * 100;
					<div class="Goal" style="width: @width%;">
						<div class="ProgressLine"></div>
						<div class="GoalText @(i == 1 && Model.GoalDetails.Count > 2 ? "GoalTextMiddle" : "")">
							@Model.GoalDetails[i].Goal.TargetAmount.ToEggString()
							<img src="/images/Egg_@((int)Model.Contract?.Details.Egg).png" class="Emoji" />
							<br />
							<span style="white-space: nowrap">@Html.Raw(EmojiToImage(EggIncEggs.GetReward(Model.GoalDetails[i].Goal)))</span>
						</div>
					</div>
				}
			}
		</div>
		<div class="text-center" style="font-size: 60%;">
			@if (Model.GoalDetails.Last().Status == EGG9000.Site.Controllers.HomeController.GoalStatus.Completed) {
				@:Finished
			} else if (Model.CoopStatus.SecondsRemaining <= 0) {
				@: Ended @TimeSpan.FromSeconds(-Model.CoopStatus.SecondsRemaining).Humanize(2).ShortenTime()
				if (!Model.CoopStatus.AllMembersReporting) {
					@: Waiting on all members to report
				}

			} else {
				@: Farm expires in @TimeSpan.FromSeconds(Model.CoopStatus.SecondsRemaining).Humanize(2).ShortenTime()
				if (Model.CoopStatus.SecondsRemaining > Model.GoalDetails.Last().TimeLeft.TotalSeconds) {
					@:- Finishes in @Model.GoalDetails.Last().TimeLeft.Humanize(2).ShortenTime()
				} else if (Model.GoalDetails.Last().Status != EGG9000.Site.Controllers.HomeController.GoalStatus.Never) {
					@:- Behind by @Model.GoalDetails.Last().TimeLeft.Subtract(TimeSpan.FromSeconds(Model.CoopStatus.SecondsRemaining)).Humanize(2).ShortenTime()
				}
			}
		</div>
	</div>
	<div class="row no-gutters">
		<div class="col-lg">

			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							@if (isAdmin || Model.CoopDetails.CoopParticipants.Any(y => y.CoopStatus is null)) {
								<th></th>
							}
							<th>Ingame</th>
							@if (inDb) {
								<th>Discord</th>
							}
							<th title="Earnings Bonus" class="right">EB</th>
							<th title="Chicken Count" class="right">🐔</th>
							<th title="Habs Filled Percent" class="right">🏠</th>
							<th title="Shipping Used Capacity" class="right">🚚</th>
							<th title="Current Contribution" class="right"><img src="/images/Egg_@((int)Model.Contract?.Details.Egg).png" class="Emoji" /></th>
							<th title="Hourly Rate" class="right">Rate</th>
							@if (Model.CoopStatus.SecondsRemaining > 0) {
								<th title="Projected Amount" class="right text-nowrap">📈</th>
							}
							<th title="Projected Percent Contribution" class="right">%</th>
							<th title="Current Tokens" class="right"><img src="https://cdn.discordapp.com/emojis/724397091211968604.png" class="Emoji" /></th>
							<th title="Spent Tokens" class="right text-nowrap">💲</th>
							<th title="Silo Time" class="right"><img src="https://cdn.discordapp.com/emojis/755705706086137906.png" class="Emoji" /></th>
							<th title="Current Offline Time" class="right">⏲️</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var userInfo in Model.CoopDetails.CoopParticipants.OrderByDescending(x => x.Projected)) {
							<tr>
								@if (isAdmin || Model.CoopDetails.CoopParticipants.Any(y => y.CoopStatus is null)) {
									<td>
										@if (isAdmin && userInfo.Xref != null) {
											<a href="/MyFarms/ViewUser?discordId=@userInfo.Xref?.User.DiscordId">🔎</a>
										}
										@(userInfo.CoopStatus is null ? "❌" : "✅")
									</td>
								}

								<td>@(userInfo.CoopStatus?.UserName ?? userInfo.Backup?.UserName)</td>
								@if (inDb) {
									<td>@ebrgx.Replace(userInfo.Xref?.User.DiscordUsername ?? "", "").Trim()</td>
								}
								<td align="right">@userInfo.EarningsBonus.ToEggString()</td>
								<td align="right">@userInfo.NumChickens.ToEggString()</td>
								<td align="right">@userInfo.HousingPercent?.ToEggString()%</td>
								<td align="right">@userInfo.ShippingPercent?.ToEggString()%</td>
								<td align="right">@userInfo.EggsShipped.ToEggString()</td>
								<td align="right">@((userInfo.Rate * 3600).ToEggString())/h</td>
								@if (Model.CoopStatus.SecondsRemaining > 0) {
									<td align="right">@userInfo.Projected.ToEggString()</td>
								}
								<td align="right">
									@{

										var share = Model.CoopDetails.GetProjectedShare(userInfo);
										if (share >= 10) {
											@share.ToString("0")@:%
										} else if (share >= 1) {
											@share.ToString("0.#")@:%
										} else {
											@share.ToString("0.##")@:%
										}
									}
								</td>
								<td align="right">@userInfo.BoostTokens</td>
								<td align="right">@userInfo.BoostTokensSpent</td>
								<td align="right">@(userInfo.SiloTimeMinutes / 60)h</td>
								<td align="right">@userInfo.OfflineTime.Humanize().ShortenTime()</td>
							</tr>
						}
					</tbody>
					<tfoot>
						<tr>
							@if (isAdmin || Model.CoopDetails.CoopParticipants.Any(y => y.CoopStatus is null)) {
								<td></td>
							}
							<td>@Model.CoopDetails.CoopParticipants.Count/@Model.Contract.Details.MaxCoopSize</td>
							@if (inDb) {
								<td></td>
							}
							<td></td>
							<td align="right">
								@Model.CoopDetails.CoopParticipants.Sum(x => x.NumChickens).ToEggString()
							</td>
							<td></td>
							<td></td>
							<td align="right">@Model.CoopDetails.CoopParticipants.Sum(x => x.EggsShipped).ToEggString()</td>
							<td align="right">@Model.CoopDetails.CoopParticipants.Sum(x => (x.Rate * 3600)).ToEggString()/h</td>
							@if (Model.CoopStatus.SecondsRemaining > 0) {
								<td align="right">@Model.CoopDetails.CoopParticipants.Sum(x => x.Projected).ToEggString()</td>
								<td align="right">
									@((Model.CoopDetails.CoopParticipants.Sum(x => x.Projected) / Model.GoalDetails.Last().Goal.TargetAmount * 100).ToString("0"))%
								</td>
							}
							<td colspan="99"></td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>


</div>

@functions {
	string EmojiToImage(string str) {
		var rgx = new Regex(@"<:\w+:(\d+)>");
		return rgx.Replace(str, match => $"<img class='Emoji' src=\"https://cdn.discordapp.com/emojis/{match.Groups[1].Value}.png?v=1\" />");
	}

}

@section Scripts {
	<style>
		td {
			white-space: nowrap;
			text-overflow: ellipsis;
			max-width: 100px;
			overflow: hidden;
		}

		.progress-bar span {
			mix-blend-mode: darken;
			color: #555;
			font-weight: bold;
			font-size: 110%;
			line-height: .8em;
			text-align: right;
		}

		.progress-bar {
			overflow: visible !important;
		}

		.ProgressTop {
			position: relative;
		}

		.ProgressLine {
			position: absolute;
			width: 2px;
			background-color: #616161;
			height: 30px;
		}

		.bootstrap-dark .progress-bar span {
			color: #1e1e1e;
		}

		.progress > span {
			position: absolute;
			right: 4px;
			top: 3px;
		}

		.progress {
			position: relative;
		}

		th.right, .right {
			text-align: right;
		}

		.EggThumb {
			height: 1.5em;
			vertical-align: text-bottom;
		}

		.Emoji {
			height: 1.3em;
			vertical-align: text-bottom;
			position: relative;
			top: 0;
		}

		.card .table {
			margin-bottom: 0;
		}

		.grid-inline {
			display: inline-grid;
		}

		.goal {
			max-width: 500px;
		}

		.Goals {
			display: flex;
		}

			.Goals .Goal {
				text-align: right;
				position: relative;
				margin-top: 5px;
				white-space: nowrap;
			}

				.Goals .Goal .ProgressLine {
					right: 0;
					top: -5px;
					height: 10px;
				}

		.GoalTextMiddle {
			left: 100%;
			position: relative;
			text-align: left;
		}

		@@media only screen and (max-width: 1200px) {
			body > .container {
				margin: 0 !important;
				max-width: initial !important;
			}
		}

		@@media only screen and (max-width: 1080px) {
			.table td, .table th {
				padding: 0.5rem 0.25rem !important;
			}
		}
	</style>
	<script src="~/js/jquery.jsonview.js"></script>
	<link href="~/css/jquery.jsonview.css" rel="stylesheet" />
	<script>
		$(function() {
			$("#json").JSONView(@Html.Raw(JsonConvert.SerializeObject(Model.CoopStatus, Formatting.Indented)), { collapsed: true });
		});
	</script>
} 