@using static EGG9000.Common.Helpers.Prefarm;
@model List<LeaderboardUser>
@inject Discord.WebSocket.DiscordSocketClient discord
@{
	ViewData["Title"] = "CSLeaderboard";

	var claimsIdentity = (System.Security.Claims.ClaimsIdentity)User.Identity;
	var discordId = claimsIdentity.Claims.First(x => x.Type == "DiscordId").Value;

	var myAccounts = Model.Where(x => x.DiscordUser.Id.ToString() == discordId);
	// Read/staff tier - gates only the clickable player-name link to MyFarms on this read-only page.
	var isAdmin = User.IsInRole("Admin") || User.IsInRole("GuildAdmin") || User.IsInRole("GuildLesserAdmin") || User.IsInRole("GuildReadOnlyAdmin");
}


@if (myAccounts.Count() == 1)
{
	<a class="btn btn-secondary" href="#@myAccounts.First().Backup.EggIncId">Jump to me</a>
}
else if (myAccounts.Count() > 1)
{
	foreach (var account in myAccounts)
	{
		<a class="btn btn-secondary" href="#@account.Backup.EggIncId">Jump to @account.Backup.UserName</a>
	}
}
<style>
	th {
		position: sticky;
		top: 0;
		text-align: center;
	}

		th img, td img {
			height: 20px;
		}

	table {
		width: auto !important;
	}

	.Me td {
		background-color: #adffaa !important;
	}

	.bootstrap-dark .Me td {
		background-color: #2c462b !important;
	}

	.monospace {
		font-size: 0;
		white-space: nowrap;
	}

		.monospace span {
			width: 0.53em;
			font-size: 1rem;
			display: inline-block;
			text-align: center;
		}

			.monospace span.period {
				width: auto;
			}
</style>
Sort by
<a href="?cstype=total"><button class="btn btn-primary">Total CS</button></a>
<a href="?cstype=season"><button class="btn btn-primary">Season CS</button></a>
<div class="row">
	<div class="col">
		<table class="table table-striped table-sm">
			<thead>
				<tr>
					<th></th>
					<th style="text-align: left;">Name</th>
					<th>Total CS</th>
					<th>Season CS</th>
					<th>EB</th>
					<th></th>
					<th title="Server Coops/All Coops">Coops</th>
				</tr>
			</thead>
			<tbody>
				@{
					var i = 0;
					foreach (var account in Model)
					{
						i++;
						RowTemplate(account, i);
					}
				}
			</tbody>
		</table>

	</div>
</div>

@{
	string CommaSeparate(double score)
	{
		return string.Format("{0:N0}", score);
	}

	void MonoSpace(string str)
	{
		foreach (var c in str)
		{
			<span class="@(c == '.' ? "period" : "")">@c</span>
		}
	}
	void RowTemplate(LeaderboardUser account, int i)
	{
		var isMe = account.DiscordUser.Id.ToString() == discordId;
		<tr id="@account.User.DiscordId" class="@(isMe ? "Me" : "")">

			<td align="right"> @i </td>

			<td style="max-width: 150px; text-overflow: ellipsis; line-break: strict;">
				@if (isMe)
				{
					<div id="@account.Backup.EggIncId" style="position: relative; top: -40px;"></div>
				}
				@if (isAdmin)
				{
					<a href="/Home/ViewUser/@(account.User.Id)">
						@account.DiscordUser.GetCleanName()
					</a>
				}
				else if (isMe)
				{
					<a href="/MyFarms">
						@account.DiscordUser.GetCleanName()
					</a>
				}
				else
				{
					@account.DiscordUser.GetCleanName()
				}
			</td>

			<td align="right" style="padding-left: 20px; padding-right: 10px;">
				@CommaSeparate(account.TotalCS)
			</td>
			<td align="right" style="padding-right: 20px; padding-left: 10px;">
				@CommaSeparate(account.SeasonCS)
			</td>

			<td align="right" class="monospace">
				@{
					MonoSpace(account.Backup.EarningsBonus.ToEggString(true, numberOfDecimalPlaces: 2));
				}
			</td>
			<td align="right">
				@if (account.Backup.PermitLevel == 0)
				{
					<img src="https://cdn.discordapp.com/emojis/755734059761795173.png?v=1" />
				}
				else
				{
					<img src="https://cdn.discordapp.com/emojis/724392625276452955.png?v=1" />
				}
				<img src="@PlayerGradeDetails.GetImage(account.Account.GetGrade())" />
			</td>
			<td align="right" class="monospace">
				@{
					var totalCoops = ((account.Backup.ArchivedFarms?.Count ?? 0) + (account.Backup.Farms.Where(x => !string.IsNullOrEmpty(x.ContractId)).Count()));
					MonoSpace($"{account.TotalContracts}/{totalCoops}{(totalCoops < 100 ? " " : "")}");
				}
			</td>
		</tr>
	}
}