@model List<LeaderboardUser>
@inject Discord.WebSocket.DiscordSocketClient discord
@{
	ViewData["Title"] = "Leaderboard";

	var claimsIdentity = (System.Security.Claims.ClaimsIdentity)User.Identity;
	var discordId = claimsIdentity.Claims.First(x => x.Type == "DiscordId").Value;

	var myAccounts = Model.Where(x => x.DisplayDiscordId.ToString() == discordId);
	// Read/staff tier - gates only the clickable player-name link to MyFarms on this read-only page.
	var isAdmin = User.IsInRole("Admin") || User.IsInRole("GuildAdmin") || User.IsInRole("GuildLesserAdmin") || User.IsInRole("GuildReadOnlyAdmin");
}


@if (myAccounts.Count() == 1) {
	<a class="btn btn-secondary" href="#@myAccounts.First().Backup.EggIncId">Jump to me</a>
} else if (myAccounts.Count() > 1) {
	foreach (var account in myAccounts) {
		<a class="btn btn-secondary" href="#@account.Backup.EggIncId">Jump to @account.Backup.UserName</a>
	}
}
<style>
	th {
		position: sticky;
		top: 0;
		text-align: center !important;
	}

	a img, th img, td img {
		height: 20px;
	}

	table {
		width: auto !important;
	}

	@@media (min-width: 1024px) {
		th, td {
			padding-left: 10px !important;
			padding-right:10px  !important;
		}
	}

	.Me td {
		background-color: #adffaa !important;
	}

	.bootstrap-dark .Me td {
		background-color: #2c462b !important;
	}

	.monospace {
		font-size: 0;
		white-space: nowrap;
	}

		.monospace span {
			width: 0.53em;
			font-size: 1rem;
			display: inline-block;
			text-align: center;
		}

			.monospace span.period {
				width: auto;
			}
</style>
Sort By:
<a class="btn btn-primary" href="?sortby=se"><img src="~/images/Egg_soul.png" /></a>
<a class="btn btn-primary" href="?sortby=pe"><img src="~/images/Egg_of_Prophecy.png" /></a>
<a class="btn btn-primary" href="?sortby=start">First Contract</a>
<a class="btn btn-primary" href="?sortby=permit">Permit</a>
<a class="btn btn-primary" href="?sortby=mer">MER</a>
<a class="btn btn-primary" href="?sortby=shifts">Shifts</a>
<a class="btn btn-primary" href="?sortby=eot"><img src="~/images/egg_truth.png" /></a>
<a class="btn btn-primary" href="?sortby=eott"><img src="~/images/egg_truth.png" alt="Eggs of Truth" /> w/Unclaimed</a>
<a class="btn btn-primary" href="?sortby=eov">Total Eggs Of Virtue</a>
<a class="btn btn-primary" href="?sortby=tepershift">TE/Shift</a>



@*<div class="dropdown" style="display: inline-block;">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
    Sort by
  
  <div class="dropdown-menu">
<a class="dropdown-item" href="?sortby=se"><img src="~/images/Egg_soul.png" />Soul Eggs</a>
<a class="dropdown-item" href="?sortby=pe"><img src="~/images/Egg_of_Prophecy.png" />Prophecy Egg</a>
<a class="dropdown-item" href="?sortby=start">First Contract</a>
<a class="dropdown-item" href="?sortby=permit">Permit</a>
<a class="dropdown-item" href="?sortby=mer">MER</a>
<a class="dropdown-item" href="?sortby=shifts">Shifts</a>
<a class="dropdown-item" href="?sortby=eot"><img src="~/images/egg_truth.png" />Truth Egg</a>
<a class="dropdown-item" href="?sortby=eott"><img src="~/images/egg_truth.png" alt="Eggs of Truth" /> w/Unclaimed</a>
<a class="dropdown-item" href="?sortby=eov">Total Eggs Of Virtue</a>
<a class="dropdown-item" href="?sortby=tepershift">TE/Shift</a>
  </div>
</div>*@
<div class="row">
	<div class="col">
		<table class="table table-striped table-sm">
			<thead>
				<tr>
					<th></th>
					<th style="text-align: left;">Name</th>
					@if (ViewBag.SortBy == "mer") {
						<th>MER</th>
					}
					<th><img src="~/images/Egg_soul.png" alt="Soul Eggs" /></th>
					<th><img src="~/images/Egg_of_Prophecy.png" alt="Eggs of Prophecy" /></th>
					<th><img src="~/images/egg_truth.png" alt="Eggs of Truth" /></th>
					@if (ViewBag.SortBy == "eott" || ViewBag.SortBy == "eov" || ViewBag.SortBy == "tepershift") {
						<th title="Eggs Of Truth including unclaimed"><img src="~/images/egg_truth.png" alt="Eggs of Truth" />+</th>
						<th title="Sum Eggs of Virtue Shipped">EoV</th>
						<th title="Eggs of Truth per Shift">TE/S</th>
					}
					<th>EB</th>
					<th>Shifts</th>
					<th></th>
					@* <th title="Server Coops/All Coops">Coops</th> *@
					@if (ViewBag.Oldest) {
						<th>Joined</th>
					}
					@if (ViewBag.SortBy == "start") {
						<th>Started</th>
					}
					@* <th>BG</th> *@
					@*<th>Registered</th>*@
				</tr>
			</thead>
			<tbody>
				@{
					var i = 0;
					foreach (var account in Model) {
						i++;
						RowTemplate(account, i);
					}
				}
			</tbody>
		</table>

	</div>
</div>

@{
	void MonoSpace(string str) {
		foreach (var c in str) {
			<span class="@(c == '.' ? "period" : "")">@c</span>
		}
	}
	void RowTemplate(LeaderboardUser account, int i) {
		var isMe = account.DisplayDiscordId.ToString() == discordId;
		<tr id="@account.User.DiscordId" class="@(isMe ? "Me" : "")">

			<td align="right"> @i </td>

			<td style="max-width: 150px; text-overflow: ellipsis; line-break: strict;">
				@if (isMe) {
					<div id="@account.Backup.EggIncId" style="position: relative; top: -40px;"></div>
				}
				@if (isAdmin) {
					<a href="/Home/ViewUser/@(account.User.Id)">
						@account.DisplayName
					</a>
				} else if (isMe) {
					<a href="/MyFarms">
						@account.DisplayName
					</a>
				} else {
					@account.DisplayName
				}
			</td>
			@if (ViewBag.SortBy == "mer") {
				<td align="right">@(account.Backup.MER)</td>
			}
			<td align="right" class="monospace">
				@{
					MonoSpace(account.Backup.SoulEggs.ToEggString(true, numberOfDecimalPlaces: 2));
				}  
			</td>

			<td align="right"> @account.Backup.EggsOfProphecy </td>
			<td align="right"> @account.Backup.EggsOfTruth </td>

			@if (ViewBag.SortBy == "eott" || ViewBag.SortBy == "eov" || ViewBag.SortBy == "tepershift") {
				<td align="right">@account.Backup.EggsOfTruthTotal</td>
				<td align="right">@((account.Backup.VirtueEggsDelivered?.Sum() ?? 0).ToEggString())</td>
				@if (account.Backup.ShiftCount > 0) {
					<td align="right">@(((double)account.Backup.EggsOfTruthTotal / (double)account.Backup.ShiftCount).ToString("#.00"))</td>
				} else
				{
					<td></td>
				}
			}

			<td align="right" class="monospace"> @{
					MonoSpace(account.Backup.EarningsBonus.ToEggString(true, numberOfDecimalPlaces: 2));
				} </td>
			<td align="right"> @account.Backup.ShiftCount </td>
			<td align="right">
				@if (account.Backup.PermitLevel == 0) {
					<img src="https://cdn.discordapp.com/emojis/755734059761795173.png?v=1" />
				} else {
					<img src="https://cdn.discordapp.com/emojis/724392625276452955.png?v=1" />
				}
				<img src="@PlayerGradeDetails.GetImage(account.Account.GetGrade())" />
			</td>
			@* <td align="right" class="monospace">
			 	@{
			 		var totalCoops = ((account.Backup.ArchivedFarms?.Count ?? 0) + (account.Backup.Farms.Where(x => !string.IsNullOrEmpty(x.ContractId)).Count()));
			 		MonoSpace($"{account.TotalContracts}/{totalCoops}{(totalCoops < 100 ? " " : "")}");
			 	}
			 </td>*@
			@if (ViewBag.Oldest) {
				<td>@account.User.Registered.Value.ToString("yyyy-MM-dd")</td>
			}
			@if (ViewBag.SortBy == "start") {
				<td>@(account.Started.ToString("yyyy-MM-dd"))</td>
			}
			@* <td>@account.Account.Group</td>*@
			@*<td>@account.User.CreateOn.ToString("yyyy-MM-dd")</td>*@
		</tr>
	}
}
