@model List<LeaderboardUser>
@inject Discord.WebSocket.DiscordSocketClient discord
@{
    ViewData["Title"] = "Leaderboard";

    var claimsIdentity = (System.Security.Claims.ClaimsIdentity)User.Identity;
    var discordId = claimsIdentity.Claims.First(x => x.Type == "DiscordId").Value;

    var myAccounts = Model.Where(x => x.DiscordUser.Id.ToString() == discordId);
var isAdmin = User.IsInRole("Admin") || User.IsInRole("GuildAdmin");
}

<a class="btn btn-secondary" href="/Home/Enlightenment">Enlightenment Leaderboard</a>
@if(myAccounts.Count() == 1) {
    <a class="btn btn-secondary" href="#@myAccounts.First().Backup.EggIncId">Jump to me</a>
} else if(myAccounts.Count() > 1) {
    foreach(var account in myAccounts) {
        <a class="btn btn-secondary" href="#@account.Backup.EggIncId">Jump to @account.Backup.UserName</a>
    }
}
<style>
    th {
        position: sticky;
        top: 0;
        text-align: center;
    }

        th img, td img {
            height: 20px;
        }

    table {
        width: auto !important;
    }

    .Me td {
        background-color: #adffaa !important;
    }

    .monospace {
        font-size: 0;
        white-space:nowrap;
    }
    .monospace span{
        width: 0.53em;
        font-size: 1rem;
        display: inline-block;
        text-align: center;
    }
    .monospace span.period {
        width: auto;
    }
</style>
Sort by 
<a href="?sortby=se"><button class="btn btn-primary">Soul Eggs</button></a>
<a href="?sortby=pe"><button class="btn btn-primary">Egg Of Prophecy</button></a>
<a href="?sortby=start"><button class="btn btn-primary">First Contract</button></a>
<div class="row">
    <div class="col">
        <h3>Elites</h3>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th></th>
                    <th style="text-align: left;">Name</th>
                    <th><img src="~/images/Egg_soul.png" alt="Soul Eggs" /></th>
                    <th><img src="~/images/Egg_of_Prophecy.png" alt="Eggs of Prophecy" /></th>
                    <th>EB</th>
                    <th></th>
                    <th title="Server Coops/All Coops">Coops</th>
                    @if(ViewBag.Oldest) {
                        <th>Joined</th>
                    }
                    @if(ViewBag.SortBy == "start") {
                        <th>Started</th>
                    }
                    @*<th>Registered</th>*@
                </tr>
            </thead>
            <tbody>
                @{
                    var i = 0;
                    foreach(var account in Model.Where(x => x.Backup.EarningsBonus >= 10000000000000)) {
                        i++;
                        RowTemplate(account, i);
                    }
                }
            </tbody>
        </table>

    </div>
    @if(Model.Any(x => x.Backup.EarningsBonus < 10000000000000)) {
        <div class="col">
            <h3>Standards</h3>
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th></th>
                        <th style="text-align: left;"> Name </th>
                        <th><img src="~/images/Egg_soul.png" alt="Soul Eggs" /></th>
                        <th><img src="~/images/Egg_of_Prophecy.png" alt="Eggs of Prophecy" /></th>
                        <th>EB</th>
                        <th></th>
                        <th title="Server Contracts/All Contracts">Contracts</th>
                        @if(ViewBag.Oldest) {
                        <th>Joined</th>
                        }
                        @if(ViewBag.SortBy == "start") {
                        <th>Started</th>
                    }
                        @*<th>Registered</th>*@
                    </tr>
                </thead>
                <tbody>
                    @{
                        i = 0;
                        foreach(var account in Model.Where(x => x.Backup.EarningsBonus < 10000000000000)) {
                            i++;
                            RowTemplate(account, i);
                        }
                    }
                </tbody>
            </table>
        </div>
    }

</div>

@{
    void MonoSpace(string str) {
        foreach(var c in str) { <span class="@(c == '.' ? "period" : "")">@c</span> }
    }
    void RowTemplate(LeaderboardUser account, int i) {
        var isMe = account.DiscordUser.Id.ToString() == discordId;
    <tr id="@account.User.DiscordId" class="@(isMe ? "Me" : "")">

                                                <td align="right"> @i </td>

                                                <td style="max-width: 150px; text-overflow: ellipsis; line-break: strict;">
                                                    @if(isMe) {
                                                    <div id="@account.Backup.EggIncId" style="position: relative; top: -40px;"></div>
            }
                                                    @if(isAdmin) {
                                                    <a href="/Home/ViewUser/@(account.User.Id)">
                                                        @account.DiscordUser.GetCleanName()
                                                    </a>
            } else if(isMe) {
                                                    <a href="/MyFarms">
                                                        @account.DiscordUser.GetCleanName()
                                                    </a>
            } else {
                                                    @account.DiscordUser.GetCleanName()
            }
                                                </td>
                                                <td align="right" class="monospace">@{ MonoSpace(account.Backup.SoulEggs.ToEggString(true, numberOfDecimalPlaces: 2)); }  </td>

                                                <td align="right"> @account.Backup.EggsOfProphecy </td>

                                                <td align="right" class="monospace"> @{MonoSpace(account.Backup.EarningsBonus.ToEggString(true, numberOfDecimalPlaces: 2));} </td>
                                                <td align="right">
                                                    @if(account.Backup.PermitLevel == 0) {
                                                    <img src="https://cdn.discordapp.com/emojis/755734059761795173.png?v=1" />
            } else {
                                                    <img src="https://cdn.discordapp.com/emojis/724392625276452955.png?v=1" />
            }
                                                </td>
                                                <td align="right" class="monospace">
                                                    @{
                                                        var totalCoops = ((account.Backup.ArchivedFarms?.Count ?? 0) + (account.Backup.Farms.Where(x => !string.IsNullOrEmpty(x.ContractId)).Count()));
                                                        MonoSpace($"{account.TotalContracts}/{totalCoops}{(totalCoops < 100 ? " " : "")}");
                                                    }
                                                </td>
                                                @if(ViewBag.Oldest) {
                                                <td>@account.User.CreateOn.ToString("yyyy-MM-dd")</td>
        }
                                                @if(ViewBag.SortBy == "start") {
                                                    <td>@(account.Started.ToString("yyyy-MM-dd"))</td>
        }

                                                @*<td>@account.User.CreateOn.ToString("yyyy-MM-dd")</td>*@
    </tr>
    }
}
