@using Discord.WebSocket
@model (CustomBackup backup, bool isAdmin, List<Contract> contracts, DBUser User, Ei.MyContracts scores)
@inject DiscordSocketClient discordClient
@{
	var backup = Model.backup;
	var isAdmin = User.IsInRole("Admin") || User.IsInRole("GuildAdmin");
	var isLesserAdmin = isAdmin || User.IsInRole("GuildLesserAdmin");
	var contracts = Model.contracts;

	var farms = backup.Farms;
	List<(object, DateTimeOffset)> allFarms = new List<(object, DateTimeOffset)>();
	allFarms.AddRange(farms.Where(x => !string.IsNullOrEmpty(x.ContractId)).Select(x => ((object)x, x.Started)));
	allFarms.AddRange(backup.ArchivedFarms?.Where(x => !farms.Any(y => y.ContractId == x.ContractId)).Select(x => ((object)x, x.Started)));
}
<div class="card" style="margin-top:15px">
	<h4 class="card-header">Active Farms</h4>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					@{
						var fullColSpan = 9;
					}
					<th>Contract</th>
					<th>Coop</th>
					<th>Started</th>
					<th data-toggle="tooltip" title="# of Chickens" class="text-right">🐔</th>
					<th data-toggle="tooltip" title="# of Eggs" class="text-right">🥚</th>
					<th class="text-right">%</th>
					@if (isLesserAdmin) {
						<th data-toggle="tooltip" title="Time Cheat" class="text-right">🕵</th>
						<th data-toggle="tooltip" title="Cheat Time Debt" class="text-right">⏲️</th>
						fullColSpan += 2;
					}
					<th data-toggle="tooltip" title="Tokens Received" class="text-right tight-emojis">🟡 📥</th>
					<th data-toggle="tooltip" title="Tokens Spent" class="text-right tight-emojis">🟡 💲</th>
					<th data-toggle="tooltip" title="Tokens Given" class="text-right tight-emojis">🟡 📤</th>
				</tr>
			</thead>
			<tbody>
				@{
					var activeFarms = allFarms.Where(x => x.Item1 is CustomFarm && (x.Item1 as CustomFarm).Cancelled == false && DateTimeOffset.FromUnixTimeSeconds((x.Item1 as CustomFarm).CoopSharedEndTime) > DateTimeOffset.Now).OrderByDescending(x => x.Item2);
					if (activeFarms.Count() == 0) {
						<tr>
							<td colspan="@fullColSpan" style="text-align: center;">
								<span style="font-weight: bold;">No active farms.</span>
							</td>
						</tr>
					} else{
						foreach (var tuple in activeFarms)
						{
							CustomFarm farm = (CustomFarm)tuple.Item1;
							var coop = Model.User.UserCoopXrefs.FirstOrDefault(x => x.Coop.ContractID == farm.ContractId && x.Coop.Name.ToLower() == farm.CoopId)?.Coop;
							var xref = Model.User.UserCoopXrefs.OrderByDescending(x => x.CreatedOn).FirstOrDefault(x => x.Coop.ContractID == farm.ContractId);
							var lastUpdate = xref?.Coop?.LastStatusUpdate?.Contributors.FirstOrDefault(c => c.UserId == xref.EggIncId);
							var contract = contracts.FirstOrDefault(x => x.ID == farm.ContractId);

							<tr>
								<td>@(contract?.Name ?? farm.ContractId)</td>
								<td>
									<a href="/coop/@farm.ContractId/@(farm.CoopId ?? coop?.Name)">
										@(farm.CoopId ?? coop?.Name)
									</a>
									@if (coop is not null && !coop.DeletedChannel)
									{
										<a href="discord://discordapp.com/channels/@coop.OverflowGuildId/@coop.DiscordChannelId/"><img src="/images/discordicon.png" style="max-height: 1em;" /></a>
									}
								</td>
								<td>@farm.Started.ToString("yyyy-MM-dd")</td>
								<td class="text-right">@farm.NumChickens.ToEggString()</td>
								<td class="text-right">@farm.EggsPaidFor.ToEggString()</td>
								<td class="text-right">
									@if (lastUpdate != null)
									{
										var percent = lastUpdate.ContributionAmount / xref.Coop.LastStatusUpdate.TotalAmount;
										@percent.ToString("P0")
									}
								</td>
								@if (isLesserAdmin)
								{
									<td class="text-right">@farm.TimeCheatsDetected</td>
									<td class="text-right">@TimeSpan.FromSeconds(farm.TimeCheatDebt).Humanize().ShortenTime()</td>
								}
								<td class="text-right">@farm.BoostTokensReceived</td>
								<td class="text-right">@farm.BoostTokensSpent</td>
								<td class="text-right">@farm.BoostTokensGiven</td>
							</tr>
						}
					}
				}
			</tbody>
		</table>
	</div>
</div>

<div class="card" style="margin-top:20px">
	<h4 class="card-header">Archived Farms <input class="form-control" style="width: 150px; display: inline;" placeholder="Search" id="ArchivedFarmsSearch" /></h4>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>CS</th>
					<th>Contract</th>
					<th>Coop</th>
					<th>Started</th>
					<th>🏁</th>
					<th class="text-right">Score</th>
					<th class="text-right">Running Score</th>
					<th data-toggle="tooltip" title="# of Eggs" class="text-right">🥚</th>
					<th class="text-right">%</th>
					<th data-toggle="tooltip" title="Suspected Time Cheat" class="text-right">🕵</th>
					<th data-toggle="tooltip" title="Tokens Spent" class="text-right tight-emojis">🟡💲</th>
				</tr>
			</thead>
			<tbody id="ArchivedFarmsTBody">
				@{
					// Show completed farms, these could be 'active' and 'archived' farms.
					foreach (var tuple in allFarms.Where(x =>
					(x.Item1 is CustomFarm && (DateTimeOffset.FromUnixTimeSeconds((x.Item1 as CustomFarm).CoopSharedEndTime) > DateTimeOffset.Now || (x.Item1 as CustomFarm).Cancelled == true)) ||
					(x.Item1 is CustomArchivedFarms)
					).OrderByDescending(x => x.Item2)) {
						if (tuple.Item1 is CustomFarm) {
							CustomFarm farm = (CustomFarm)tuple.Item1;
							var coop = Model.User.UserCoopXrefs.FirstOrDefault(x => x.Coop.ContractID == farm.ContractId && x.Coop.Name.ToLower() == farm.CoopId)?.Coop;

							var xref = Model.User.UserCoopXrefs.OrderByDescending(x => x.CreatedOn).FirstOrDefault(x => x.Coop.ContractID == farm.ContractId && x.EggIncId == backup.EggIncId);
							var xrefWithScore = Model.User.UserCoopXrefs.OrderByDescending(x => x.CreatedOn).FirstOrDefault(x => x.Coop.ContractID == farm.ContractId && x.Score.HasValue);


							UserFarmDetails userFarmDetails = null;
							if (coop is not null) {
								userFarmDetails = GetCoopParticipants(coop, coop.Contract, coop.League, coop.LastStatusUpdate, new List<UserWithBackup> { new UserWithBackup { User = Model.User, Backup = backup } }, discordClient).FirstOrDefault(x => x.Backup == backup);
							}
							var contract = contracts.FirstOrDefault(x => x.ID == farm?.ContractId);
							var score = Model.scores.Contracts.FirstOrDefault(x => x.Contract.Identifier == farm?.ContractId)?.Evaluation;
							<tr data-name="@(contract?.Name ?? farm.ContractId)" data-coop="@(farm.CoopId ?? null)">
								<td>
									@if (score is not null) {
										@score.Cxp
									}
								</td>
								<td>@(contract?.Name ?? farm.ContractId)</td>
								<td>
									<a href="/coop/@farm.ContractId/@(farm.CoopId ?? coop?.Name)">
										@(farm.CoopId ?? coop?.Name)
									</a>
									@if (coop is not null && !coop.DeletedChannel) {
										<a href="discord://discordapp.com/channels/@coop.OverflowGuildId/@coop.DiscordChannelId/"><img src="/images/discordicon.png" style="max-height: 1em;" /></a>
									}
								</td>
								<td>@farm.Started.ToString("yyyy-MM-dd")</td>
								<td>@(farm.Completed ? "✔️" : "")</td>
								<td class="text-right">@xrefWithScore?.Score?.ToString("G2")</td>
								<td class="text-right">@xrefWithScore?.RunningScore?.ToString("G2")</td>
								@if (userFarmDetails != null && xref != null) {
									var percent = userFarmDetails.EggsShipped / (xref.Coop.LastStatusUpdate?.TotalAmount ?? 0);
									<td class="text-right">@userFarmDetails.EggsShipped.ToEggString()</td>
									<td class="text-right">@percent.ToString("P0").Replace(" ", "")</td>
									<td class="text-right">@(userFarmDetails.CoopStatus?.TimeCheatDetected ?? false ? "Yes" : "No")</td>
									<td class="text-right">@userFarmDetails.CoopStatus?.BoostTokensSpent</td>
								} else {
									<td colspan="99"></td>
								}
							</tr>
						} else {
							CustomArchivedFarms farm = (CustomArchivedFarms)tuple.Item1;
							var xref = Model.User.UserCoopXrefs.OrderByDescending(x => x.CreatedOn).FirstOrDefault(x => x.Coop.ContractID == farm.ContractId && x.EggIncId == backup.EggIncId);
							var xrefWithScore = Model.User.UserCoopXrefs.OrderByDescending(x => x.CreatedOn).FirstOrDefault(x => x.Coop.ContractID == farm.ContractId && x.Score.HasValue);
							UserFarmDetails userFarmDetails = null;
							if (xref is not null) {
								userFarmDetails = GetCoopParticipants(xref.Coop, xref.Coop.Contract, xref.Coop.League, xref.Coop.LastStatusUpdate, new List<UserWithBackup> { new UserWithBackup { User = Model.User, Backup = backup } }, discordClient).FirstOrDefault(x => x.Backup == backup);
							}
							var contract = contracts.FirstOrDefault(x => x.ID == farm.ContractId);
							var score = Model.scores.Contracts.FirstOrDefault(x => x.Contract.Identifier == farm.ContractId)?.Evaluation;
							<tr data-name="@(contracts.FirstOrDefault(x => x.ID == farm.ContractId)?.Name ?? farm.ContractId)" data-coop="@(farm.CoopId ?? null)">
								<td>
									@if (score is not null) {
										@score.Cxp
									}
								</td>
								<td>@(contract?.Name ?? farm.ContractId)</td>
								<td>
									@if (!string.IsNullOrEmpty(farm.CoopId) || (contract?.MaxUsers ?? 0) > 1) {
										<a href="/coop/@farm.ContractId/@(farm.CoopId)">
											@(farm.CoopId)
										</a>
									} else {
										<em>Solo</em>
									}
								</td>
								<td>@farm.Started.ToString("yyyy-MM-dd")</td>
								<td>@(farm.Completed ? "✔️" : "")</td>
								<td class="text-right">@xrefWithScore?.Score?.ToString("G2")</td>
								<td class="text-right">@xrefWithScore?.RunningScore?.ToString("G2")</td>
								@if (userFarmDetails?.CoopStatus != null) {
									var percent = userFarmDetails.EggsShipped / xref.Coop.LastStatusUpdate.TotalAmount;
									<td class="text-right">@userFarmDetails.EggsShipped.ToEggString()</td>
									<td class="text-right">@percent.ToString("P0").Replace(" ", "")</td>
									<td class="text-right">@(userFarmDetails.CoopStatus.TimeCheatDetected ? "Yes" : "No")</td>
									<td class="text-right">@userFarmDetails.CoopStatus.BoostTokensSpent</td>
								} else {
									<td colspan="99"></td>
								}
							</tr>
						}
					}
				}
			</tbody>
		</table>
	</div>
</div>
