@model (CustomBackup backup, List<UserSnapShot> snapshots, bool isAdmin, Dictionary<string, List<EGG9000.Common.Database.Entities.Contract>> uncompletePEs)
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="margin-top:15px;">
                <h4 class="card-header" style="text-align: center">Egg of Prophecy Progress</h4>
                <div class="table-responsive">
                    <table class="table align-middle table-striped">
                        <thead>
                            <tr>
                                <th style="text-align: left">From Contracts</th>
                                <th style="text-align: left">From Daily Gifts</th>
                                <th style="text-align: left">From Trophies</th>
                                <th style="text-align: left">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.backup.ArchivedFarms.Sum(x => x.PEGained)</td>
                                <td>@Model.backup.PEFromDailyGifts of 24</td>
                                <td>@Model.backup.PEFromTrophies of 40</td>
                                <td>@Model.backup.EggsOfProphecy</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            @if (Model.uncompletePEs[Model.backup.EggIncId].Count() > 0 || true) {
                <div class="card" style="margin-top:15px;">
                    <h4 class="card-header" style="text-align: center">
                        <button class="btn-sm btn btn-outline-primary" id="collapsePE" onclick="$('.collapsible-row').toggleClass('toggleHide')">Toggle Hidden</button>
                        <br />
                        Missing Contract Eggs of Prophecy
                    </h4>
                    <table class="table table-sm align-middle collapsible-table table-striped">
                        <thead>
                            <tr>
                                <th style="text-align: left">Contract Name</th>
                                <th style="text-align: left">Contract ID</th>
                                <th style="text-align: left">Last Seen</th>
                            </tr>
                        </thead>
                        <tbody id="content-collapse">
                            @foreach (var contract in Model.uncompletePEs[Model.backup.EggIncId].OrderBy(c => c.Created).ToList()) {
                                <tr class="collapsible-row toggleHide">
                                    <td>@contract.Name</td>
                                    <td>@contract.ID</td>
                                    <td>@contract.Created.ToString("yyyy-MM-dd")</td>
                                </tr>
                            }
                        </tbody>
                        <tbody id="altNotShownBody">
                            <tr class="collapsible-row toggleHide">
                                <td colspan="3" style="text-align: center; color:coral">
                                    <b>@Model.uncompletePEs[Model.backup.EggIncId].Count() rows hidden</b>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            }

        </div>
        <div class="col-sm">
            <div class="card" style="margin-top:15px;">
                <h4 class="card-header" style="text-align: center;">Earnings Bonus History</h4>
                <div class="table-responsive">
                    <table class="table table-striped">

                        <thead>
                            <tr>
                                @*/@if(Model.isAdmin){<th>EggIncID</th>}/*@
                                <th>Date</th>
                                <th>Eggs of Prophecy</th>
                                <th style="text-align: right !important;">Soul Eggs</th>
                                <th style="text-align: right !important;">EB</th>
                                <th>Prestiges</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @*/@if(Model.isAdmin){<td>@Model.backup.EggIncId</td>}/*@
                                <td>Latest</td>
                                <td>@Model.backup.EggsOfProphecy</td>
                                <td align="right">@Model.backup.SoulEggs.ToEggString(numberOfDecimalPlaces: 3)</td>
                                <td align="right">@Model.backup.EarningsBonus.ToEggString(numberOfDecimalPlaces: 3)</td>
                                <td>@Model.backup.NumPrestiges</td>
                            </tr>
                            @foreach (var snapshot in Model.snapshots.Where(x => x.EggIncID == Model.backup.EggIncId).OrderByDescending(x => x.Date)) {
                                <tr>
                                    @*/@if(Model.isAdmin){<td>@snapshot.EggIncID</td>}/*@
                                    <td>@snapshot.Date.ToString("yyyy-MM-dd")</td>
                                    <td>@snapshot.EggsOfProphecy</td>
                                    <td align="right">@snapshot.SoulEggs.ToEggString(numberOfDecimalPlaces: 3)</td>
                                    <td align="right">@snapshot.EarningsBonus.ToEggString(numberOfDecimalPlaces: 3)</td>
                                    <td>@snapshot.Prestiges</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .toggleHide {
        display: none;
    }

    #altNotShownBody tr {
        display: none;
    }

    #altNotShownBody .toggleHide {
        display: table-row;
    }

    @@media (min-width: 992px) {
       
        #content-collapse tr {
            display: none;
        }

        #content-collapse .toggleHide {
            display: table-row;
        }

        #altNotShownBody tr {
            display: table-row;
        }

        #altNotShownBody .toggleHide {
            display: none;
        }
    }
</style>