@model MyFarmsModel
@using Discord.WebSocket
@using EGG9000.Common.Helpers
@using Microsoft.AspNetCore.Html
@using static EGG9000.Site.Controllers.MyFarmsController
@using static EGG9000.Common.Helpers.EpicResearchCalc
@inject DiscordSocketClient discordClient
@{
    ViewData["Title"] = "Index";

    List<Contract> contracts = Model.Contracts;

    List<UserSnapShot> snapshots = Model.SnapShots;

    List<UserCoopXref> unjoinedCoops = Model.UnjoinedCoops.ToList();

    List<EpicResearchDetail> epicResearchConfig = Model.EpicResearchConfig;

    Dictionary<string, List<EGG9000.Common.Database.Entities.Contract>> uncompletePEs = Model.UncompletedPEContracts;

    List<(string EggIncId, Ei.MyContracts MyContracts)> scoring = Model.Scoring;
    Guild dbguild = Model.DBGuild;

    @*Func<EggIncArtifactInstance, object> artifactTemplate = @<span>
		<span>@item.Artifact</span>
		@if(item.Additive) {
		<span>+@item.Value</span>
		} else if(item.Value < 2) {
		<span>@Math.Round((item.Value - 1) * 100)%</span>
		} else {
		<span>@(item.Value)x</span>
		}
		<span>@item.Boost</span>
		</span>;*@

    var isAdmin = User.IsInRole("Admin") || User.IsInRole("GuildAdmin");
    var isLesserAdmin = isAdmin || User.IsInRole("GuildLesserAdmin");
    List<Ei.Backup> rawBackups = Model.RawBackups;


    var emojiReplace = new Regex(@"<:[^:]+:(\d+)>");

    string emojiDelegage(Match match) {
        return $"<img src='https://cdn.discordapp.com/emojis/{match.Groups[1]}.png?size=22' />";
    };
    List<Merit> merits = Model.Merits;
    var inDB = Model.User.DiscordId > 0;

}
<style>
    .card-header img {
        height: 50px;
        margin: -31px -8px -25px -22px;
    }

    .card {
        vertical-align: top;
    }

    .tight-emojis {
        letter-spacing: -0.5em;
    }

    .nobreak span {
        white-space: nowrap;
    }

    .tab-pane .container {
        padding: 0px;
    }
</style>

<script>
    function copyIdToClipboard(id, notifId) {
        // If the passed parameter is an HTML element, get its inner text
        const content = (typeof id === "object") ? id.innerText : id.toString();
        navigator.clipboard.writeText(content);

        if (notifId) {
            // Show the notification
            var notification = document.getElementById(notifId);
            notification.style.display = "block";
            notification.style.opacity = "1";

            // Hide the notification after 2 seconds (adjust the duration as needed)
            setTimeout(function () {
                notification.style.opacity = "0";
            }, 2000);
        }
    }
</script>

@if (isAdmin) {
    <h1>@Model.User.DiscordUsername Farms</h1>
} else {
    <h1>My Farms</h1>
}

@if (unjoinedCoops.Any()) {
    @if (isAdmin) {
        <div class="alert alert-danger">
            @Model.User.DiscordUsername has not joined the following coops they've been assigned.
            <div class="font-weight-bold" style="margin-top:10px;">
                @foreach (var xref in unjoinedCoops) {
                    <div><img style="max-height: 30px;" src="/images/Egg_@((int)xref.Coop.Contract.Details.Egg).png" />@xref.Coop.Contract.Name - @xref.Coop.Name<a href="discord://discordapp.com/channels/@xref.Coop.OverflowGuildId/@xref.Coop.DiscordChannelId/"><img src="/images/discordicon.png" style="max-height: 1em;" /></a></div>
                }
            </div>
        </div>
    } else {
        <div class="alert alert-danger">
            Pssst... It looks like you haven't joined the following coops that you've been assigned!
            <div class="font-weight-bold" style="margin-top:10px;">
                @foreach (var xref in unjoinedCoops) {
                    <div>><img style="max-height: 30px;" src="/images/Egg_@((int)xref.Coop.Contract.Details.Egg).png" />@xref.Coop.Contract.Name - @xref.Coop.Name<a href="discord://discordapp.com/channels/@xref.Coop.OverflowGuildId/@xref.Coop.DiscordChannelId/"><img src="/images/discordicon.png" style="max-height: 1em;" /></a></div>
                }
            </div>
        </div>
    }
}

<div>
    @if (isLesserAdmin) {
        if (Model.User.TempDisabled) {
            <span style="color: #FF0000">❗User is disabled</span>
        }
    }
</div>

<div style="padding-bottom: 10px;">
    <span style="margin-right:10px;"><b><u>Discord Name</u></b>: @Model.User.DiscordUsername</span>
    <span style="margin:5px;" title="Click to copy" id="discord-id-copy-button" onclick="copyIdToClipboard('@Model.User.DiscordId', 'copy-notification-discord')"><b><u>Discord ID</u></b>: @Model.User.DiscordId</span>
    <div class="copy-notification" id="copy-notification-discord">Discord ID copied!</div>
    @if (Model.User.GuildId == 0) {
        <span style="margin:5px; color: #FFAA33;">⚠️ Not currently a member of a Discord server, might need to run /moveserver if you are supposed to be</span>
    } else {
        <span style="margin:5px;"><b><u>Member of</u></b>: @(discordClient.Guilds.FirstOrDefault(x => x.Id == Model.User.GuildId)?.Name ?? "unknown")</span>
    }
</div>


@if (Model.User.EggIncAccounts.Count > 1) {
    <ul class="nav nav-tabs" role="tablist">
        @for (var index = 0; index < Model.User.EggIncAccounts.Count; index++) {
            var account = Model.User.EggIncAccounts[index];
            <li class="nav-item">
                <a class="nav-link @(index == 0 ? "active" : "")" id="tab@(account.Id)" data-toggle="tab" href="#user@(index)" role="tab" aria-selected="@(index == 0)">
                    @account.Backup.UserName
                    <img src="@PlayerGradeDetails.GetImage(account.GetGrade())" style="max-height: 23px;" />
                    @if (account.Backup.PermitLevel == 0) {
                        <img src="https://cdn.discordapp.com/emojis/755734059761795173.png?v=1" style="max-height: 23px;" />
                    } else {
                        <img src="https://cdn.discordapp.com/emojis/724392625276452955.png?v=1" style="max-height: 23px;" />
                    }
                </a>
            </li>
        }
    </ul>
}

<div class="tab-content">
    @for (var index = 0; index < Model.User.EggIncAccounts.Count; index++) {
        var account = Model.User.EggIncAccounts[index];
        var backup = account.Backup;
        //Remove existing "tank" and "hyperloop" options
        epicResearchConfig.Remove(epicResearchConfig.FirstOrDefault(x => x.Title == "Hyperloop"));
        epicResearchConfig.Remove(epicResearchConfig.FirstOrDefault(x => x.Title == "Fuel Tank"));
        var rawBackup = rawBackups.First(x => x.EiUserId == backup.EggIncId);
        <div class="tab-pane @(index == 0 ? "show active" : "")" id="user@(index)" role="tabpanel">
            <div style="padding-bottom: 10px;" class="nobreak">
                @if (Model.User.EggIncAccounts.Count == 1) {
                    @:<span style="margin-right:10px;"><b><u>In-Game Name</u></b>: @backup.UserName</span>
                    <img src="@PlayerGradeDetails.GetImage(account.GetGrade())" style="max-height: 23px;" />
                    @if (backup.PermitLevel == 0) {
                        <img src="https://cdn.discordapp.com/emojis/755734059761795173.png?v=1" style="max-height: 23px;" />
                    } else {
                        <img src="https://cdn.discordapp.com/emojis/724392625276452955.png?v=1" style="max-height: 23px;" />
                    }
                }
                <span style="margin-right:10px;" onclick="copyIdToClipboard('@backup.EggIncId', 'copy-notification-eid-@index')" title="Click to copy"><b><u>EggIncId</u></b>: @backup.EggIncId</span>
                <div class="copy-notification" id="copy-notification-eid-@index">EID copied!</div>
                <span style="margin-right:10px;"><b><u>Last Backup</u></b>: @((DateTimeOffset.Now - DateTimeOffset.FromUnixTimeSeconds(backup.LastBackupTime)).Humanize())</span>
                @if (backup.MaxEggReached < Ei.Egg.Enlightenment)
                {
                    <span style="margin-right:10px;"><b><u>Highest Egg</u></b>: @backup.MaxEggReached</span>
                }
                <br>
                @if (!dbguild.DisableBG) {
                    if (account.Group == 0) {
                        <span style="margin-right:10px; color: #FFAA33"><b>⚠️Boarding Group Not Set</b></span>
                    } else {
                        <span style="margin-right:10px;"><b><u>Boarding Group @account.Group</u></b></span>
                    }
                    if(account.SubscriptionLevel is not null) {
                        if (account.UltraGroup == 0) {
                            <span style="margin-right:10px; color: #FFAA33"><b>⚠️Ultra Boarding Group Not Set</b></span>
                        }
                        else {
                            <span style="margin-right:10px;"><b><u>Ultra Boarding Group @account.UltraGroup</u></b></span>
                        }
                    }
                }
                @if (account.OnBreakUntil > DateTimeOffset.Now) {
                    <span style="margin-right:10px;" title="Date/Time displayed in local time"><b><u>On Break until</u></b>: @account.OnBreakUntil.ToLocalTime().ToString("yyyy-MM-dd h:mm:ss tt")</span>
                }
                @if ((account.AutoRegisterRewards?.Count ?? 0) > 0) {
                    <span style="margin-right:10px;"><b><u>Filter</u></b>: @string.Join(",", account.AutoRegisterRewards)</span>
                } else {
                    <span style="margin-right:10px;"><b><u>Filter</u></b>: All</span>
                }
                @if((account.LeggacyAutoRegisterRewards?.Count ?? 0) > 0) {
                    <span style="margin-right:10px;"><b><u>Leggacy Filter</u></b>: @string.Join(",", account.LeggacyAutoRegisterRewards)</span>
                }
                <span style="margin-right:10px;">
                    <b><u>Redo Leggacies</u></b>:
                    @if (account.RedoLeggacySelection == RedoLeggacyOption.YesAll) {
                        @string.Join("", "Yes (All)")
                    } else if (account.RedoLeggacySelection == RedoLeggacyOption.YesThreshold) {
                        @string.Join("", $"Yes (Under {account.RedoScoreThreshold} CS)")
                    } else {
                        @string.Join("", "No")
                    }
                </span>
            </div>

            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#contracthistory@(index)" role="tab" aria-selected="true">Contract History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#shipsfarms@(index)" role="tab" aria-selected="false">Ships & Farms</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#epicresearch@(index)" role="tab" aria-selected="false">Epic Research</a>
                </li>
                @if (inDB) {
                    var tabName = isAdmin ? $"Merits ({merits.Count}) & Demerits" : $"Merits ({merits.Count})";
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#merits@(index)" role="tab" aria-selected="false">@tabName</a>
                    </li>
                    @if (snapshots != null) {
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#ebhistory@(index)" role="tab" aria-selected="false">EB Stats</a>
                        </li>
                    }
                }
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#artifactcombos@(index)" role="tab" aria-selected="false">Artifact Combos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#externaltools@(index)" role="tab" aria-selected="false">External Tools</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#earningsboostcalc@(index)" role="tab" aria-selected="false">Earnings Boost Calc</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane" style="margin-top:20px" id="shipsfarms@(index)" role="tabpanel">
                    @{
                        await Html.RenderPartialAsync("-ShipsandFarms", (backup, Model.JoinedCoops, contracts));
                    }
                </div>

                <div class="tab-pane" id="epicresearch@(index)" role="tabpanel">
                    @{
                        await Html.RenderPartialAsync("-EpicResearch", (epicResearchConfig, backup));
                    }
                </div>
                <div class="tab-pane" id="artifactcombos@(index)" role="tabpanel">
                    @{
                        await Html.RenderPartialAsync("-ArtifactCombos", (backup, contracts, Model.JoinedCoops, Model.User));
                    }
                </div>

                @if (inDB) {
                    <div class="tab-pane" id="merits@(index)" role="tabpanel">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    @{
                                        <div class="card" style="margin-top:20px">
                                            <table class="table table-striped">
                                                <caption style="caption-side: top; text-align: center; font-weight: bold;"><u>Merits</u></caption>
                                                @if (merits.Count > 0) {
                                                    <tbody>
                                                        <tr>
                                                            <th class="text-left">Date</th>
                                                            <th>Reason</th>
                                                            @if (isAdmin) {
                                                                <th></th>
                                                            }
                                                        </tr>
                                                    </tbody>
                                                    <tbody>
                                                        @foreach (var merit in merits) {
                                                            <tr>
                                                                <td>@merit.When.ToString("yyyy-MM-dd")</td>
                                                                <td> @Html.Raw(emojiReplace.Replace(merit.Reason, emojiDelegage))</td>
                                                                @if (isAdmin) {
                                                                    <td><a href="/myfarms/removemerit?id=@merit.Id" title="Remove Merit">X</a></td>
                                                                }
                                                            </tr>
                                                        }
                                                    </tbody>
                                                } else {
                                                    <tr style="padding: 20px; margin-top:20px; text-align: center">
                                                        <td>No merits for user.</td>
                                                    </tr>
                                                }
                                            </table>
                                        </div>



                                    }
                                </div>
                                <div class="col-sm">
                                    @{
                                        List<Demerit> demerits = Model.Demerits;
                                        <div class="card" style="margin-top:20px">
                                            <table class="table table-striped">
                                                <caption style="caption-side: top; text-align: center; font-weight: bold;">Demerits</caption>
                                                @if (demerits.Count > 0 && isAdmin) {
                                                    <thead>
                                                        <tr>
                                                            <th class="text-left">Date</th>
                                                            <th>Reason</th>
                                                            @if (isAdmin) {
                                                                <th></th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var demerit in demerits) {
                                                            <tr>
                                                                <td>@demerit.When.ToString("yyyy-MM-dd")</td>
                                                                <td> @Html.Raw(emojiReplace.Replace(demerit.Reason, emojiDelegage))</td>
                                                                @if (isAdmin) {
                                                                    <td><a href="/myfarms/removedemerit?id=@demerit.Id" title="Remove Demerit">X</a></td>
                                                                }
                                                            </tr>
                                                        }
                                                    </tbody>
                                                } else {
                                                    <tbody>
                                                        <tr style="text-align: center">
                                                            <td style="text-align: center">
                                                                <span style="display: inline-block; padding: 20px;">No demerits for user.</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                }
                                            </table>
                                        </div>



                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (snapshots != null) {
                        <div class="tab-pane" id="ebhistory@(index)" role="tabpanel">
                            @{
                                await Html.RenderPartialAsync("-EBHistory", (backup, snapshots, isAdmin, uncompletePEs, contracts));
                            }
                        </div>
                    }
                }
                <div class="tab-pane show active" id="contracthistory@(index)" role="tabpanel">
                    @{
                        Ei.MyContracts scores = scoring.Any(x => x.EggIncId == backup.EggIncId) ? scoring.First(x => x.EggIncId == backup.EggIncId).MyContracts : null;
                        await Html.RenderPartialAsync("-ContractHistory", (backup, isAdmin, contracts, Model.User, scores));
                    }
                </div>

                <div class="tab-pane" id="externaltools@(index)" role="tabpanel">
                    @{
                        await Html.RenderPartialAsync("-ExternalTools", (backup, Model.User));
                    }
                </div>

                <div class="tab-pane" id="earningsboostcalc@(index)" role="tabpanel">
                    @{
                        var newModel = new EarningsBoostCalculatorModel();
                        newModel.Backup = backup;
                        await Html.RenderPartialAsync("-EarningsBoostCalculator", (newModel));
                    }
                </div>

            </div>
        </div>
    }
</div>

@{


    //(IHtmlContent, DateTimeOffset) GetActiveFarm(CustomFarm farm) {
    //	var coop = Model.UserCoopXrefs.FirstOrDefault(x => x.Coop.ContractID == farm.ContractId)?.Coop;
    //	var xref = Model.UserCoopXrefs.FirstOrDefault(x => x.Coop.ContractID == farm.ContractId);
    //	var lastUpdate = xref?.Coop?.LastStatusUpdate?.Contributors.FirstOrDefault(c => c.UserId == xref.EggIncId);
    //	var contract = contracts.FirstOrDefault(x => x.ID == farm.ContractId);
    //	IHtmlContent html =
    //@<tr>
    //		<td>@(contract?.Name ?? farm.ContractId)</td>
    //		<td>
    //			<a href="/coop/@farm.ContractId/@(farm.CoopId ?? coop?.Name)">
    //				@(farm.CoopId ?? coop?.Name)
    //			</a>
    //		</td>
    //		<td>@farm.Started.ToString("yyyy-MM-dd")</td>
    //		<td>@(farm.Completed ? "✔️" : "")</td>
    //		@if (contract != null && contract.MaxUsers <= 1) {
    //			<td colspan="2">Solo</td>
    //		} else {
    //			<td>
    //				@xref?.Score?.ToString("G2")
    //			</td>
    //			<td>
    //				@xref?.RunningScore?.ToString("G2")
    //			</td>
    //		}
    //		@*<td>@farm.BoostsUsed</td>*@
    //		<td>@farm.NumChickens.ToEggString()</td>
    //		<td>@farm.EggsPaidFor.ToEggString()</td>
    //		<td>
    //			@if (lastUpdate != null) {
    //				var percent = lastUpdate.ContributionAmount / xref.Coop.LastStatusUpdate.TotalAmount;
    //				@percent.ToString("P0")
    //			}
    //		</td>
    //		@if (isAdmin) {
    //			<td>@farm.TimeCheatsDetected</td>
    //			<td>@TimeSpan.FromSeconds(farm.TimeCheatDebt).Humanize().ShortenTime()</td>
    //		}
    //		<td>@farm.BoostTokensReceived</td>
    //		<td>@farm.BoostTokensSpent</td>
    //		<td>@farm.BoostTokensGiven</td>
    //	</tr>
    //;

    //	return (html, farm.Started);
    //}

    //(IHtmlContent, DateTimeOffset) GetArchivedFarm(CustomArchivedFarms farm) {
    //	var xref = Model.UserCoopXrefs.FirstOrDefault(x => x.Coop.ContractID == farm.ContractId);
    //	var lastUpdate = xref?.Coop?.LastStatusUpdate?.Contributors.FirstOrDefault(c => c.UserId == xref.EggIncId);
    //	IHtmlContent html =
    //@<tr>
    //	<td>@(contracts.FirstOrDefault(x => x.ID == farm.ContractId)?.Name ?? farm.ContractId)</td>
    //	<td>
    //		<a href="/coop/@farm.ContractId/@(farm.CoopName)">
    //			@(farm.CoopName)
    //		</a>
    //	</td>
    //	<td>@farm.Started.ToString("yyyy-MM-dd")</td>
    //	<td>@(farm.Completed ? "✔️" : "")</td>
    //	<td>
    //		@xref?.Score?.ToString("G2")
    //	</td>
    //	<td>
    //		@xref?.RunningScore?.ToString("G2")
    //	</td>
    //	@if (lastUpdate != null) {
    //			var percent = lastUpdate.ContributionAmount / xref.Coop.LastStatusUpdate.TotalAmount;
    //			<td></td>
    //			@*<td></td>*@
    //			<td>@lastUpdate.ContributionAmount.ToEggString()</td>
    //			<td>@percent.ToString("P0").Replace(" ", "")</td>
    //			<td>@lastUpdate.TimeCheatDetected</td>
    //			<td></td>
    //			<td></td>
    //			<td>@lastUpdate.BoostTokensSpent</td>
    //			<td></td>
    //		} else {
    //			<td colspan="99"></td>
    //		}

    //	</tr>
    //	;
    //	return (html, farm.Started);
    //}
}

@section Scripts {
    <script>
        $(document).ready(() => {
            let url = location.href.replace(/\/$/, "");

            if (location.hash) {
                const hash = url.split("#");
                var backupNum = hash[1].slice(-1);
                if (backupNum != "0") {
                    $('a[href="#user' + backupNum + '"]').tab("show");
                }

                $('a[href="#' + hash[1] + '"]').tab("show");
                url = location.href.replace(/\/#/, "#");
                history.replaceState(null, null, url);
                setTimeout(() => {
                    $(window).scrollTop(0);
                }, 400);

            }

            $('a[data-toggle="tab"]').on("click", function () {
                let newUrl;
                const hash = $(this).attr("href");

                console.log(hash.substring(1, 5));
                if (hash.substring(1, 5) == "user")
                    return;
                newUrl = url.split("#")[0] + hash;
                //newUrl += "/";
                history.replaceState(null, null, newUrl);
            });

            $("#ArchivedFarmsSearch").keyup(function () {
                var terms = $("#ArchivedFarmsSearch").val().split(" ");
                var showAll = $("#ArchivedFarmsSearch").val().trim().length == 0;
                $('#ArchivedFarmsTBody tr').each(function (index) {
                    var row = $(this);
                    var name = row.data("name");
                    var coop = row.data("coop");
                    var matches = 0;
                    $.each(terms, function (index, value) {
                        if (name.toUpperCase().indexOf(value.toUpperCase()) !== -1 || (coop != undefined && coop.toLowerCase().indexOf(value.toLowerCase()) !== -1)) {
                            matches++;
                        }
                    });
                    var show = showAll || matches == terms.length;
                    //console.log(matches);
                    if (show) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
    </script>
	}