@using EGG9000.Common.JsonData
@using EGG9000.Common.JsonData.EiStatics

@model CustomBackup


@{
    var researchData = EiResearch.Get((List<ResearchCostSubmission>)ViewBag.ResearchCostSubmissions);

    var farm = Model.Farms.First();
    var researchDiscount = Research.GetCommonResearchCostMultiplier(farm, Model.EpicResearch);
    var incompleteResearch = new List<(CustomResearch, EiResearchItem)>();
    foreach (var research in farm.CommonResearch) {
        var researchItem = researchData.FirstOrDefault(item => item.Id == research.Id);
        if (researchItem != null && research.Level < researchItem.Levels) {
            incompleteResearch.Add((research, researchItem));
        }
    }

    var collegggtibleDiscount = Colleggtibles.GetCollectibleData((List<DBCustomEgg>)ViewBag.CustomEggs, Model);
    var researchCostDisicountColleggtible = collegggtibleDiscount[Ei.GameModifier.Types.GameDimension.ResearchCost];
    var artifactDiscount = EggIncArtifacts.GetMultiple(EggIncBoostTypeEnum.ResearchCost, farm);
    <div>
        Epic Lab Research Discount = @((1 - researchDiscount).ToString("P0"))<br />
        Colleggtible Discount = @((1 - researchCostDisicountColleggtible).ToString("P0"))<br />
        Artifact Discount = @((1 - artifactDiscount).ToString("P0"))<br />
        Total Discount = @((1 - researchDiscount * researchCostDisicountColleggtible * artifactDiscount).ToString("P0"))
    </div>

    var allResearch = researchData.Select(x => {
        var currentResearch = farm.CommonResearch.FirstOrDefault(r => r.Id == x.Id);
            if (x.EoVPrices == null) {
                x.EoVPrices = new List<double>();
                foreach (var price in x.Prices) {
                    x.EoVPrices.Add(0);
                }
            }
        return new {
            Name = x.Name,
            EoVCosts = x.EoVPrices,
            Levels = x.Levels,
            Tier = x.Tier,
            ID = x.Id,
            CurrentLevel = currentResearch?.Level ?? 0,
        };
    });
}

<div x-data="researchTest()">
    <span x-text="TotalDiscount"></span>
    <table class="table">
        <thead>
            <tr>
                <th>Tier</th>
                <th>Name</th>
                <th>Current Level</th>
                <th>Next Cost</th>
            </tr>
        </thead>
        <template x-for="(research, i) in allResearch" :key="research.ID">
        <tr x-show="research.CurrentLevel < research.Levels && research.Tier > 0">
            <td x-text="research.Tier"></td>
            <td x-text="research.Name"></td>
            <td>
                <button :disabled="research.CurrentLevel == 0" @@click="research.CurrentLevel--">-</button>
                <button :disabled="research.CurrentLevel == research.Levels" @@click="research.CurrentLevel++">+</button>

                <span x-text="research.CurrentLevel"></span>/<span x-text="research.Levels"></span></td>
            <td x-show="research.EoVCosts[research.CurrentLevel] > 0" x-text="numberToString(research.EoVCosts[research.CurrentLevel] * TotalDiscount)"></td>
            <td x-show="research.EoVCosts[research.CurrentLevel] <= 0">-</td>
            <td x-show="research.EoVCosts[research.CurrentLevel] == null">Completed</td>
            <td><input x-model="research.V" /><span x-text="numberToString(numberFromString(research.V) / (TotalDiscount + 0.5))"></span></td>
            <td><button @@click="Submit(research)">Submit</button></td>

</tr>
        </template>
    </table>
</div>

@section Scripts {
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('researchTest', () => ({
                allResearch: [],
                TotalDiscount: @Html.Raw(researchDiscount * researchCostDisicountColleggtible * artifactDiscount),

                init() {
                    this.allResearch = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(allResearch));
                },

                Submit(research) {
                    const value = this.numberFromString(research.V) / (this.TotalDiscount);
                    research.EoVCosts[research.CurrentLevel] = value;
                    if (value > 0) {
                        fetch('/MyFarms/SubmitResearchCost', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({
                                id: research.ID,
                                cost: value,
                                level: research.CurrentLevel + 1
                            })
                        }).then(r => r.ok ? alert('Submitted') : r.text().then(t => alert('Error: ' + t)));
                    } else {
                        alert('Invalid Value');
                    }
                },

                bignums: [
                    [0, ""],
                    [3, "K"],
                    [6, "M"],
                    [9, "B"],
                    [12, "T"],
                    [15, "q"],
                    [18, "Q"],
                    [21, "s"],
                    [24, "S"],
                    [27, "o"],
                    [30, "N"],
                    [33, "d"],
                    [36, "U"],
                    [39, "D"],
                    [42, "Td"],
                    [45, "qd"],
                    [48, "Qd"],
                    [51, "sd"],
                    [54, "Sd"],
                    [57, "Od"],
                    [60, "Nd"],
                    [63, "V"],
                    [66, "uV"],
                    [69, "dV"],
                    [72, "tV"],
                    [75, "qV"],
                    [78, "QV"],
                ],

                numberToString(number, showDecimalPlaces = true, numberOfDecimalPlaces = 3) {
                    const bignums = this.bignums;
                    const negative = number < 0;
                    if (negative) number = -number;

                    const oom = number === 0 ? 0 : Math.floor(Math.log10(number)) - (Math.floor(Math.log10(number)) % 3);

                    const suffixEntry = bignums.find(x => x[0] === oom) || bignums[bignums.length - 1];

                    number /= Math.pow(10, oom);

                    let outString;
                    if (showDecimalPlaces && numberOfDecimalPlaces >= 0) {
                        outString = number.toFixed(numberOfDecimalPlaces);
                    } else {
                        outString = number.toString();
                    }

                    if (negative) outString = "-" + outString;
                    outString += suffixEntry[1];

                    return outString;
                },

                numberFromString(arg) {
                    const bignums = this.bignums;
                    const regex = /([\d\.]+)(\w*)/;
                    const match = regex.exec(arg);
                    if (match) {
                        const size = match[2];
                        const numberPortion = match[1];

                        const number = parseFloat(numberPortion);

                        const value = bignums.find(x => x[1] === size);
                        if (value) {
                            return number * Math.pow(10, value[0]);
                        }
                    }
                }
            }));
        });
    </script>
}
