@using Discord.WebSocket
@model (List<PotentialCoopGroup> coopGroups, List<(String reason, UserByAccount account)> excluded)
@inject DiscordSocketClient discordClient
@{
    Guild dbguild = ViewBag.DBGuild;
    SocketGuild guild = ViewBag.Guild;
    var contract = (ViewBag.Contract as Contract).Details;
    var isLesserAdmin = User.IsInRole("Admin") || User.IsInRole("GuildAdmin") || User.IsInRole("GuildLesserAdmin");
    var isAdmin = User.IsInRole("Admin") || User.IsInRole("GuildAdmin");
    var boardingGroups = Model.coopGroups.GroupBy(x => x.BoardingGroup).Select(x => new
    {
        BoardingGroup = new { Value = x.Key, Name = dbguild.DisableBG ? guild.GetRole(ulong.Parse(dbguild.GroupRoles.Split(",")[x.Key])).Name : x.Key.ToString(), RoleId = dbguild.DisableBG ? ulong.Parse(dbguild.GroupRoles.Split(",")[x.Key]) : 0 },
        Grades = x.Where(y => (y.PotentialCoops?.Count ?? 0) > 0).Select(y => new {
            Grade = y.Grade.ToString(),
            GradeNum = (int)y.Grade,
            GradeImage = PlayerGradeDetails.GetImage(y.Grade),
            CoopCount = y.PotentialCoops.Count,
            Coops = y.PotentialCoops.Select(c => new {
                Users = c.Users.Select(u => {
                    var discordUser = discordClient.GetGuild(u.User.GuildId).GetUser(u.User.DiscordId);
                    return new {
                        EB = u.Account.Backup.EarningsBonus,
                        EBString = u.Account.Backup.EarningsBonus.ToEggString(),
                        Name = discordUser?.GetCleanName() ?? u.User.DiscordUsername,
                        MultipleAccounts = u.User.EggIncAccounts.Count > 1,
                        AccountName = u.Account.Backup.UserName,
                        FromGroup = (u.Account.GetGroup(contract.CcOnly) != x.Key ? u.Account.GetGroup(contract.CcOnly) : 0),
                        EggIncId = isLesserAdmin ? u.Account.Backup.EggIncId : "",
                        DatabaseId = isLesserAdmin ? u.User.Id : Guid.Empty,
                        Guild = u.Account.Guild,
                        Group = u.Account.GetGroup(contract.CcOnly),
                    };
                }),
                TotalEB = c.Users.Sum(u => u.Account.Backup.EarningsBonus).ToEggString()
            })
        })

    }).Where(x => x.Grades.Any(y => y.Coops.Count() > 0)).OrderBy(x => x.BoardingGroup.Value);


    var grades = Model.coopGroups.GroupBy(x => x.Grade).Where(x => x.Count() > 0);

}
<style>
    .container {
        max-width: 100% !important;
    }

    .card {
        margin-bottom: 50px;
    }

    h2 span {
        font-size: 12pt;
    }

    .modal {
        overflow: scroll !important;
    }
</style>
<div ng-controller="Page">

<div>
    User Counts:

    @foreach (var grade in grades) {
        <span><img src="@PlayerGradeDetails.GetImage(grade.Key)" style="height: 1em;" /> @grade.Sum(x => x.PotentialCoops?.Sum(y => y.Users.Count) ?? 0) &nbsp;&nbsp;</span>
    }
    
    @foreach(var group in Model.excluded.GroupBy(x => x.reason)) {
        <span>@group.Key: @group.Count() &nbsp;&nbsp;</span>
    } <button ng-click="ViewExcluded()" class="btn btn-primary">View</button>
</div>
    @if (dbguild.DisableBG) {
        @: Group
    } else {
        @: Boarding Group
    }
    <select ng-model="bg" ng-options="item as item.BoardingGroup.Name for item in boardingGroups track by item.BoardingGroup.Value"></select>

    <div class="row scrollable">
        <div class="col-sm" ng-repeat="group in bg.Grades">
            <h2>
                <img ng-src="{{group.GradeImage}}" style="height: 1em;" />
                @if (isAdmin) {
                    <input ng-model="group.CoopCount" style="width: 60px;" />
                    <button class="btn btn-primary" ng-click="ReloadGrade(group)">Update Count</button>
                    <button class="btn btn-primary" ng-click="StartAll(group)" ng-disabled="group.Disable">Start All</button>
                    <span>
                        Assigned Users: {{Total(group)}}
                    </span>
                    <span>
                        | Free Spaces: {{FreeSpaces(group)}}
                    </span>
                    @if(dbguild.DisableBG) {
                        <span ng-repeat="item in getExcluded(this)">
                            | {{item.Reason}}: {{item.Count}}
                        </span>
                        
                    }
                } else {
                    @: ({{group.Coops.length}})
                }
            </h2>

            <div class="card" ng-repeat="coop in group.Coops">
                <h5 class="card-header">Coop ({{coop.Users.length}}/@contract.MaxCoopSize)</h5>
                <table class="table table-striped">
                    <tbody>
                        <tr ng-repeat="user in coop.Users">
                            <td>{{user.Name}} <span ng-if="user.MultipleAccounts">({{user.AccountName}})</span> <span ng-if="user.FromGroup > 0" style="display: inline-block;background-color: mediumvioletred">BG{{user.FromGroup}}</span> <span ng-if="user.Guild.length > 0">[{{user.Guild}}]</span> </td>
                            <td>{{user.EBString}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="card-footer">
                    Total EB {{coop.TotalEB}}
                    @if (isAdmin) {
                        <button ng-click="Start(coop, group.Coops, group.Grade)" ng-disabled="coop.Disable || group.Disable">Start</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="Excluded">
    <div class="modal-header">Excluded</div>
    <table class="modal-body table table-sm table-striped">
        <thead>
            <tr>
                <th>Discord Name</th>
                <th>Reason</th>
                @if(dbguild.DisableBG) {
                    <th>Group</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach(var group in Model.excluded.GroupBy(x => x.reason)) {
                @foreach(var user in group.OrderBy(x => x.account.RoleId).ThenBy(x => x.account.User.DiscordUsername)) {
                    <tr>
                        <td>@user.account.User.DiscordUsername</td>
                        <td>@user.reason</td>
                        @if(dbguild.DisableBG) {
                            <td>@guild.GetRole(user.account.RoleId)</td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</script>

@{
    var excluded = Model.excluded.GroupBy(x => new { x.reason, x.account.RoleId, Grade =  x.account.Account.GetGrade() }).Select(x => new { Grade = x.Key.Grade, Reason = x.Key.reason, Count = x.Count(), RoleId = x.Key.RoleId });
}

@section Scripts {
    <script>
        angular.module('egg9000', ['ui.bootstrap', 'angularMoment', 'ngMaterial', 'ngMessages'])
            .controller('Page', ['$scope', '$rootScope', '$uibModal', 'moment', '$http', '$timeout', '$interval', '$q', function ($scope, $rootScope, $uibModal, moment, $http, $timeout, $interval, $q) {
                $scope.boardingGroups = @Html.Raw(JsonConvert.SerializeObject(boardingGroups));
                $scope.bg = $scope.boardingGroups[0];

                $scope.excluded = @Html.Raw(JsonConvert.SerializeObject(excluded));

                $scope.getExcluded = function(scope) {
                    var item = _.filter($scope.excluded, function (value, key) {
                        return value.Grade == scope.group.GradeNum && value.RoleId == $scope.bg.BoardingGroup.RoleId;
                    });
                    return item;
                }
                console.log($scope.excluded);

                $scope.FreeSpaces = function (grade) {
                    var freeSpaces = 0;
                    angular.forEach(grade.Coops, (coop) => {
                        console.log(coop);
                        console.log(coop.Users.length);
                        freeSpaces += @contract.MaxCoopSize - coop.Users.length;
                    });
                    return freeSpaces;
                }
                $scope.Total = function (grade) {
                    var total = 0;
                    angular.forEach(grade.Coops, (coop) => {
                        total += coop.Users.length;
                    });
                    return total;
                }

                $scope.ReloadGrade = function (grade) {
                    $http.post("/contract/reloadgrade?GuildId=@ViewBag.GuildId&ContractID=@ViewBag.Contract.ID&Grade=" + grade.Grade + "&bg=" + $scope.bg.BoardingGroup.Value + "&count=" + grade.CoopCount).then(function Success(response) {
                        console.log(grade.Coops);
                        console.log(response.data);
                        grade.Coops = response.data;
                    }, function Error(response) {
                        alert("Error");
                        console.log(response);
                    });
                };

                $scope.StartAll = function (grade) {
                    grade.Disable = true;
                    $http.post("/contract/startcoops?GuildId=@ViewBag.GuildId&ContractID=@ViewBag.Contract.ID&Grade=" + grade.Grade + "&bg=" + $scope.bg.BoardingGroup.Value + "&count=" + grade.CoopCount, grade.Coops).then(function Success(response) {
                        console.log(grade.Coops);
                        console.log(response.data);
                        grade.Coops = response.data;
                        grade.Disable = false;
                    }, function Error(response) {
                        alert("Error");
                        console.log(response);
                    });
                };

                $scope.Start = function (coop, coops, grade) {
                    if (confirm("Are you sure you want to start this co-op?")) {
                        coop.Disable = true;

                        var newGrade = {
                            Grade: grade.Grade,
                            Coops: [coop]
                        };

                        $http.post("/contract/startcoops?GuildId=@ViewBag.GuildId&ContractID=@ViewBag.Contract.ID&Grade=" + grade.Grade + "&bg=" + $scope.bg.BoardingGroup.Value + "&count=" + grade.CoopCount, [coop]).then(function Success(response) {
                            console.log(grade.Coops);
                            console.log(response.data);
                            grade.Coops = response.data;
                            grade.Disable = false;
                        }, function Error(response) {
                            alert("Error");
                            console.log(response);
                        });


                        //var prefarms = [];
                        //angular.forEach(coop.Users, function (user) {
                        //	prefarms.push({ EggIncId: user.EggIncId, DatabaseId: user.DatabaseId, Name: user.Name })
                        //});
                        //$http.post("/contract/startcoop?GuildId=@ViewBag.GuildId&ContractID=@ViewBag.Contract.ID&grade=" + grade + "&bg=" + $scope.bg.BoardingGroup.Value, prefarms).then(function Success(response) {
                        //	if (response.data.error) {
                        //		alert(response.data.message);
                        //		return;
                        //	}
                        //	console.log(response);

                        //	$.each(coops, function (i) {
                        //		if (coops[i].Users[0].EggIncId == coop.Users[0].EggIncId) {
                        //			coops.splice(i, 1);
                        //			return;
                        //		}
                        //	});
                        //	coop.Disable = false;
                        //}, function Error(response) {
                        //	alert("Error");
                        //	console.log(response);
                        //});
                    }
                };

                $scope.ViewExcluded = function() {
                    console.log(1);
                    $uibModal.open({
                        templateUrl: 'Excluded',
                        animation: false,
                    });
                };
            }]);
    </script>
}