 @using static EGG9000.Common.Helpers.Prefarm
@using Discord.WebSocket
@using EGG9000.Bot.EggIncAPI
@inject EGG9000.Common.Services.APILink _apiLink
@model EGG9000.Site.Controllers.ContractController.CoopsViewModel
@{
    ViewData["Title"] = "Coops - " + Model.GuildContract.Contract.Name;
    var targetAmount = Model.GuildContract.Contract.Details.GoalSets[(int)Model.GuildContract.League].Goals.Last().TargetAmount;

    DiscordSocketClient discord = ViewBag.Discord;

    //var alienBackups = await GetBackupsForAliens(Model.Coops, Model.UserPreFarms, Model.GuildContract.Contract, _apiLink);
    var alienBackups = new List<UserPreFarm>();
    var currentCoops = Model.CoopsBreakdown.ExistingCoops.OrderBy(x => x.Coop.Finished).ThenByDescending(x => x.HasSpots).ThenBy(x => x.TimeRemaining).ToList();


    //var allPreFarms = Model.PreFarms;
    var guildContract = Model.GuildContract;
    var guild = discord.Guilds.First(x => x.Id == Model.GuildContract.GuildID);


    var claimsIdentity = (System.Security.Claims.ClaimsIdentity)User.Identity;
    var discordId = claimsIdentity.Claims.First(x => x.Type == "DiscordId").Value;

    var count = currentCoops.Count;

    var ebrgx = new Regex(@"\(.+?\)");


    var isAdmin = User.IsInRole("Admin") || User.IsInRole("GuildAdmin");
    //isAdmin = false;

    //currentCoops.ForEach(c => c.Prefarms.ForEach(p => p.DiscordUser = guild.GetUser(p.DiscordId)));
    var activeCoops = currentCoops.Select(c => new {
        Name = (isAdmin || c.CoopParticipants.Any(u => u.DiscordUser?.Id.ToString() == discordId)) ? c.Coop.Name : "",
        c.Coop.ContractID,
        CurrentCoop = c.CoopParticipants.Any(x => x.DiscordUser?.Id.ToString() == discordId),
        Status = c.Coop.Finished ? "Finished" : c.TimeRemaining < TimeSpan.Zero ? "Complete once everyone checks in" : $"Time to complete {c.TimeRemaining.Humanize(precision: 2).ShortenTime()}",
        Users = c.CoopParticipants.OrderByDescending(x => x.Projected).Select(u => new {
            Name = (u.DiscordUser?.Roles.Any(r => r.Id == 796512753241161748) ?? false ? "🆕" : "") + ebrgx.Replace(u.Name, ""),
            NumChickens = u.NumChickens.ToEggString(),
            Rate = $"{ArgumentsHelper.NumberToString(u.Rate * 60 * 60, false)}/h",
            Projected = u.Projected.ToEggString(),
            //Status = u.Coop,
            Status = u.DBUser is null ? "👽" : u.InCoop ? "✔️" : "❌",
            Locked = true,
            EggIncId = (isAdmin || u.DiscordUser?.Id.ToString() == discordId) ? u.EggIncId : "",
            UserId = (isAdmin || u.DiscordUser?.Id.ToString() == discordId) ? u.DBUser?.Id : Guid.Empty,
            DiscordID = (isAdmin || u.DiscordUser?.Id.ToString() == discordId) ? u.DiscordUser?.Id : 0
        }),
        MaxSize = Model.GuildContract.Contract.Details.MaxCoopSize,
        Rate = $"{ArgumentsHelper.NumberToString(c.CoopParticipants.Sum(x => x.Rate) * 60 * 60, false)}/h",
        Percent = (c.CoopParticipants.Sum(x => x.Projected) / targetAmount).ToString("P0"),
        CoopId = (isAdmin || c.CoopParticipants.Any(u => u.DiscordUser?.Id.ToString() == discordId)) ? c.Coop.Id : Guid.Empty,
        HoursToFinish = c.TimeRemaining.TotalHours
    });

    var isSolo = Model.GuildContract.Contract.MaxUsers <= 1;

    if(isSolo) {
        Model.CoopsBreakdown.PotentialCoops = new List<CoopDetails> {
            new CoopDetails(Model.CoopsBreakdown.PotentialCoops.SelectMany(c => c.CoopParticipants).ToList(), guildContract)
        };
    }

    var potentialCoops = Model.CoopsBreakdown.PotentialCoops.Select(c => {
        var users = c.CoopParticipants.OrderByDescending(x => x.Projected).Select(u => new {
            EggIncId = (isAdmin || u.DiscordUser?.Id.ToString() == discordId) ? u.EggIncId : "",
            DatabaseId = (isAdmin || u.DiscordUser?.Id.ToString() == discordId) ? u.DBUser.Id : Guid.Empty,
            DiscordID = (isAdmin || u.DiscordUser?.Id.ToString() == discordId) ? u.DiscordUser.Id : 0,
            Name = (u.DiscordUser?.Roles.Any(r => r.Id == 796512753241161748) ?? false ? "🆕" : "") + ebrgx.Replace(u.Name, ""),
            NumChickens = u.NumChickens.ToEggString(),
            Rate = $"{ArgumentsHelper.NumberToString(u.Rate * 60 * 60, false)}/h",
            ProjectedPercent = u.Projected / targetAmount,
            Status = isSolo
                ? (u.Projected < targetAmount ? $"{ArgumentsHelper.NumberToString((targetAmount - u.EggsShipped) / u.TimeLeft.TotalHours, false)}/h" : "")
                : u.TimeLeft.Humanize(precision: 2).ShortenTime(),
            TimeLeft = u.TimeLeft.TotalSeconds,
            EB = u.Backup.EarningsBonus.ToEggString(),
            EBValue = u.Backup.EarningsBonus,
            Locked = !isAdmin,
            SiloTime = u.SiloTimeMinutes / 60,
            Sleep = u.OfflineTime.TotalMinutes > u.SiloTimeMinutes ? $"💤{(u.OfflineTime - TimeSpan.FromMinutes(u.SiloTimeMinutes)).Humanize().ShortenTime()}" : ""
        });
        dynamic model = new {
            Count = ++count,
            CurrentCoop = c.CoopParticipants.Any(x => (x.DiscordUser?.Id ?? 0).ToString() == discordId),
            Users = isSolo ? users.OrderBy(u => u.Name) : users.OrderByDescending(u => u.ProjectedPercent),
            MaxSize = Model.GuildContract.Contract.Details.MaxCoopSize,
            Rate = $"{ArgumentsHelper.NumberToString(c.CoopParticipants.Sum(x => x.Rate) * 60 * 60, false)}/h",
        };
        return model;
    });

    var expiredFarms = Model.CoopsBreakdown.ExpiredFarms.Select(u => new {
        EggIncId = (isAdmin || u.DiscordUser?.Id.ToString() == discordId) ? u.EggIncId : "",
        DatabaseId = (isAdmin || u.DiscordUser?.Id.ToString() == discordId) ? u.DBUser.Id : Guid.Empty,
        Name = (u.DiscordUser?.Roles.Any(r => r.Id == 796512753241161748) ?? false ? "🆕" : "") + ebrgx.Replace(u.Name, ""),
        NumChickens = u.NumChickens.ToEggString(),
        Rate = $"{ArgumentsHelper.NumberToString(u.Rate * 60 * 60, false)}/h",
        ProjectedPercent = u.Projected / targetAmount,
        Status = isSolo
                ? (u.Projected < targetAmount ? $"{ArgumentsHelper.NumberToString((targetAmount - u.EggsShipped) / u.TimeLeft.TotalHours, false)}/h" : "")
                : u.TimeLeft.Humanize(precision: 2).ShortenTime(),
        TimeLeft = u.TimeLeft.TotalSeconds,
        EB = u.Backup.EarningsBonus.ToEggString(),
        EBValue = u.Backup.EarningsBonus,
        Locked = !isAdmin
    });
}
<style>
    #CurrentCoop {
        border-color: #00ff90;
    }

    .bootstrap-dark #CurrentCoop {
        border-color: #4c664b !important;
    }

    .card {
        margin-bottom: 10px;
    }

    .card-header {
        background-color: white;
    }

    .CurrentCoop .card-header {
        background-color: #a2ffa1;
    }

    .bootstrap-dark .CurrentCoop .card-header {
        background-color: #2c462b;
    }

    .card-body {
        padding: 0 !important
    }

    .table {
        margin-bottom: 0;
    }

    .card-header div {
        float: left;
    }

    .card-header span {
        font-weight: normal;
        font-size: 90%;
        float: right;
    }

    .dndPlaceHolder {
        background-color: #ddd !important;
        display: block;
        min-height: 42px;
    }

    .bootstrap-dark .dndPlaceHolder {
        background-color: #333 !important;
    }

    .container {
        max-width: initial !important;
    }

    .scrollable {
        height: 100%;
        overflow: hidden;
    }

    .scrollable > * {
        overflow: auto;
        height: 100%;
    }

    .pb-3, .py-3 {
        padding-bottom: 0;
    }
    .table td, .table th {
        padding: .4rem !important;
    }
    .card-header {
        padding: .4rem 1.25rem !important;
    }
        @if (isSolo) {<text>
            .col-sm {
                flex-grow: 0 !important;
            }
    </text>}
    

    .bootstrap-dark .pb-3, .bootstrap-dark .py-3 {
    padding-bottom: 0 !important;
}

</style>
<div ng-controller="Page">
    <div style="float: left;">
        <h3>@Model.GuildContract.Contract.Name - @(Model.GuildContract.League == 0 ? "Elite" : "Standard") </h3>
        @if(isSolo) {
            var accounts = currentCoops.SelectMany(x => x.CoopParticipants.Where(x => x.DiscordUser?.Id.ToString() == discordId)).ToList();
            if(accounts.Count == 0) {
        <p>You are not currently in this contract</p>
            } else if(accounts.Count == 1) {
        <p><a href="#@accounts.First().EggIncId">Jump to me</a></p>
            } else {
                foreach(var account in accounts) {
        <p><a href="#@account.EggIncId">Jump to @account.EggIncId</a></p>
                }
            }
        } else if(currentCoops.Any(coop => coop.CoopParticipants.Any(x => x.DiscordUser?.Id.ToString() == discordId)) || Model.CoopsBreakdown.PotentialCoops.Any(coop => coop.CoopParticipants.Any(x => (x.DiscordUser?.Id ?? 0).ToString() == discordId))) {
            foreach(var coop in currentCoops.Where(c => c.CoopParticipants.Any(x => x.DiscordUser?.Id.ToString() == discordId))) {
        <p><a href="#@coop.Coop.Name">Jump to my co-op @coop.Coop.Name</a></p>
            }

            foreach(var coop in Model.CoopsBreakdown.PotentialCoops.Where(c => c.CoopParticipants.Any(x => (x.DiscordUser?.Id ?? 0).ToString() == discordId))) {
                var coopNum = Model.CoopsBreakdown.PotentialCoops.IndexOf(coop) + currentCoops.Count + 1;
        <p><a href="#@coopNum">Jump to my co-op @coopNum</a></p>
            }
        } else {
        <p>You are not currently in a co-op nor prefarming</p>
        }

    </div>
    @if(isAdmin && !isSolo) {
    <div style="float: left;">
        <table>
            <tr>
                <td>Spots in active co-ops</td>
                <td>{{SpotsActive()}}</td>
            </tr>
            <tr>
                <td>Spots in active co-ops >24h</td>
                <td>{{SpotsActive24()}}</td>
            </tr>
        </table>
    </div>
    }
    <div style="clear: both;"></div>
    <div class="row scrollable">
        <div class="col-sm" ng-if="ActiveCoops.length > 0">
            <h2>Active Coops 
            @if(isAdmin) {
            <span  class="btn btn-sm btn-primary" ng-click="ToggleAll()">Toggle All</span>
            }
            </h2>
            @if(isAdmin) {
            <p ng-if>
                Note: The co-ops are sorted such that the top ones listed have spots available with the soonest ending on top.
            </p>
            }
            <div class="card" ng-repeat="coop in ActiveCoops" ng-class="{ CurrentCoop: coop.CurrentCoop}">
                <div style="position: relative; top: -20px;" id="{{coop.Name}}" ng-if="coop.CurrentCoop"></div>
                <h5 class="card-header" ng-click="coop.Hide = !coop.Hide">
                    <a ng-if="IsAdmin || coop.CurrentCoop" ng-href="/coop/{{coop.ContractID}}/{{coop.Name}}">{{coop.Name}}</a>
                    <span style="font-size: 0;"> - {{coop.MaxSize - coop.Users.length}} spot{{coop.MaxSize - coop.Users.length > 1 ? 's' : ''}}</span>

                    <div ng-if="!IsAdmin">Co-op</div>
                    <span style="user-select: none;">{{coop.Status}}</span>
                    <abbr ng-if="IsAdmin" style="user-select: none;">
                        {{coop.Users.length}}/{{coop.MaxSize}}&nbsp;
                    </abbr>
                </h5>
                <div class="card-body" ng-show="!coop.Hide">
                    <table class="table table-striped">
                        <tbody class="sortablers" ui-sortable="sortableOptionsTarget" ng-model="coop.Users" dnd-list="coop.Users" dnd-drop="dropCallback(item, coop)">
                            <tr ng-repeat="user in coop.Users" ng-class="{ notsortable: user.Locked }">
                                <td>{{user.Name}}</td>
                                <td align="right">{{user.NumChickens}}</td>
                                <td align="right">{{user.Rate}}</td>
                                <td align="right">{{user.Projected}}</td>
                                <td>
                                    {{user.Status}}
                                    @if(isAdmin) {
                                    <button ng-if="user.UserId" ng-click="RemoveXref(user, coop)">X</button>
                                    }
                                </td>
                            </tr>
                            <tr class="dndPlaceholder"><td colspan="99"></td></tr>
                            <tr ng-if="coop.Users.length == 0"><td colspan="99"><i>No Users</i></td></tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>{{coop.Users.length}}/{{coop.MaxSize}}</td>
                                <td></td>
                                <td align="right">{{coop.Rate}}</td>
                                <td align="right">{{coop.Percent}}</td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>



        @{
                                                                    <div class="col-sm">
                                                                        @if(!isSolo) {
                    if(isAdmin) {
                                                                            <button class="btn-success btn btn-sm" ng-click="CurrentCoopCount = CurrentCoopCount + 1; EmptyCoops.push({ Users: [], MaxSize: @Model.GuildContract.Contract.Details.MaxCoopSize, Count: CurrentCoopCount})">+ Empty Co-op</button>
                }
                                                                        <label>
                                                                            <input type="checkbox" ng-model="ShowAll" />
                                                                            Show All Users
                                                                        </label>
                }
                                                                        <div class="card" ng-repeat="coop in EmptyCoops">
                                                                            <h5 class="card-header">
                                                                                @if(!isSolo) {
                                                                                <div>Co-op {{coop.Count}}</div>
                                                                                <span>{{MinimumTime(coop.Users)}}</span>
                                                                                <button ng-if="IsAdmin" ng-click="Start(coop, EmptyCoops)" class="btn btn-primary btn-sm">Start Co-op</button>
                        }
                                                                            </h5>
                                                                            <div class="card-body">
                                                                                <table class="table table-striped">
                                                                                    @{ PotentialHeader(); }
                                                                                    <tbody class="sortablers" ui-sortable="sortableOptions" ng-model="coop.Users" dnd-list="coop.Users">
                                                                                        <tr class="notsortable" ng-if="coop.Users.length == 0"><td style="height: 10px; background-color: white;" colspan="99"></td></tr>
                                                                                        <tr ng-repeat="user in coop.Users" ng-class="{ notsortable: user.Locked }" dnd-draggable="user" dnd-moved="coop.Users.splice($index,1)" dnd-effect-allowed="move">
                                                                                            @{ PotentialRowDetails(); }
                                                                                        </tr>
                                                                                        <tr class="dndPlaceholder"><td colspan="99"></td></tr>
                                                                                    </tbody>
                                                                                    @{ PotentialFooter(); }
                                                                                </table>
                                                                            </div>
                                                                        </div>

                                                                        <div ng-if="ShowPotential">
                                                                            @if(isSolo) {
                                                                                <h2>Solo</h2>
                                                                                @: Sort By: <label><input checked type="radio" ng-model="SortSolo" value="Name" />Username</label> <label><input type="radio" ng-model="SortSolo" value="EBValue" />EB</label>
                    } else {
                                                                            <h2>Potential Co-ops</h2>
                    }

                                                                            <div class="card" ng-repeat="coop in PotentialCoops" ng-class="{ CurrentCoop: coop.CurrentCoop}">
                                                                                <div style="position: relative; top: -20px;" id="{{coop.Count}}"></div>
                                                                                <h5 class="card-header">
                                                                                    @if(!isSolo) {
                                                                                    <div>Co-op {{coop.Count}}</div>
                                                                                    <span>{{MinimumTime(coop.Users)}}</span>
                                                                                    <button ng-if="IsAdmin" ng-click="Start(coop, PotentialCoops)" class="btn btn-primary btn-sm">Start Co-op</button>
                            }
                                                                                </h5>
                                                                                <div class="card-body">
                                                                                    <table class="table table-striped">
                                                                                        @{ PotentialHeader(); }
                                                                                        <tbody dnd-list="coop.Users">
                                                                                            <tr class="notsortable" ng-if="coop.Users.length == 0"><td style="height: 10px; background-color: white;" colspan="99"></td></tr>
                                                                                            @if(isSolo) {
                                                                                            <tr ng-repeat="user in coop.Users | orderBy:SortSolo">
                                                                                                @{ PotentialRowDetails(); }
                                                                                            </tr>

                                    } else {
                                                                                            <tr ng-repeat="user in coop.Users" dnd-draggable="user" dnd-moved="coop.Users.splice($index,1)" dnd-effect-allowed="move" dnd-disable-if="!IsAdmin">
                                                                                                @{ PotentialRowDetails(); }
                                                                                            </tr>
                                    }
                                                                                            <tr class="dndPlaceholder"><td colspan="99"></td></tr>
                                                                                        </tbody>
                                                                                        @{ PotentialFooter(); }
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm" ng-show="ShowAll">
                                                                        Sort By: <label><input type="radio" ng-model="SortAll" value="EBValue" />EB</label> <label><input type="radio" ng-model="SortAll" value="TimeLeft" />Time Left</label>
                                                                        <span ng-show="ExpiredFarms.length > 0"><a href="#ExpiredFarms">Jump to Expired Farms ({{ExpiredFarms.length}})</a></span>
                                                                        <div>
                                                                            <table class="table table-striped">
                                                                                @{ PotentialHeader(); }
                                                                                <tbody dnd-list="UsersByEB">
                                                                                    <tr ng-repeat="user in UsersByEB" dnd-draggable="user" dnd-moved="UsersByEB.splice($index,1)" dnd-effect-allowed="move" dnd-disable-if="!IsAdmin">
                                                                                        @{PotentialRowDetails(); }
                                                                                    </tr>
                                                                                    <tr class="dndPlaceholder"><td colspan="99"></td></tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>

                                                                        <div ng-show="ExpiredFarms.length > 0" id="ExpiredFarms">
                                                                            <h4>Expired Farms</h4>
                                                                            <table class="table table-striped">
                                                                                @{ PotentialHeader(); }
                                                                                <tbody dnd-list="UsersByEB">
                                                                                    <tr ng-repeat="user in ExpiredFarms" dnd-draggable="user" dnd-moved="ExpiredFarms.splice($index,1)" dnd-effect-allowed="move" dnd-disable-if="!IsAdmin">
                                                                                        @{PotentialRowDetails(); }
                                                                                    </tr>
                                                                                    <tr class="dndPlaceholder"><td colspan="99"></td></tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
        }
    </div>

</div>
@if(isSolo) {
<style>
    .row.scrollable {
        display: block;
    }
</style>
}

@{
    void PotentialRowDetails() {
    <td>
                                                                @if(isSolo) {
                                                                <div style="position: relative; top: -20px;" id="{{user.EggIncId}}"></div>
            }
                                                                {{user.Name}}
    </td>
    <td align="right">{{user.NumChickens}}</td>
    <td align="right">{{user.Rate}}</td>
    <td align="right">{{user.ProjectedPercent | percentage:0}}</td>
    <td align="right">{{user.EB}}</td>
    <td align="right">{{user.SiloTime}}</td>
    <td>{{user.Status}} {{user.Sleep}}</td>
    }

    void PotentialHeader() {
    <thead>
                                                                <tr>
                                                                    <th>Name</th>
                                                                    <th align="right">🐔</th>
                                                                    <th align="right">Rate</th>
                                                                    <th align="right">📈</th>
                                                                    <th align="right">EB</th>
                                                                    <th align="right"></th>
                                                                    @if(isSolo) {
                                                                    <th>Rate Needed</th>
                } else {
                                                                    <th>Status</th>
                }
                                                                </tr>
    </thead>
    }
    void PotentialFooter() {
    <tfoot>
                                                                <tr>
                                                                    <td>{{coop.Users.length}}/{{coop.MaxSize}}</td>
                                                                    <td></td>
                                                                    <td align="right">{{coop.Rate}}</td>
                                                                    <td align="right">{{PercentSum(coop.Users) | percentage:0}}</td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>
    </tfoot>
    }
}
@section Scripts {
    <script src="~/lib/angular-drag-and-drop-lists.min.js"></script>
    <script>
        //angular.module('egg9000', ['ui.bootstrap', 'angularMoment', 'ngMaterial', 'ngMessages', 'ui.sortable'])
        angular.module('egg9000', ['ui.bootstrap', 'angularMoment', 'ngMaterial', 'ngMessages', 'dndLists'])
            .controller('Page', ['$scope', '$rootScope', '$uibModal', 'moment', '$http', '$timeout', '$interval', '$q', function ($scope, $rootScope, $uibModal, moment, $http, $timeout, $interval, $q) {
                $scope.IsAdmin = @JsonConvert.SerializeObject(isAdmin);

                $scope.ActiveCoops = @Html.Raw(JsonConvert.SerializeObject(activeCoops));
                $scope.EmptyCoops = [];
                $scope.ExpiredFarms = @Html.Raw(JsonConvert.SerializeObject(expiredFarms));
                $scope.PotentialCoops = @Html.Raw(JsonConvert.SerializeObject(potentialCoops));
                $scope.ShowPotential = true;
                $scope.ShowAll = true;
                $scope.SortAll = 'EBValue';
                $scope.SortSolo = 'Name';

                $scope.CurrentCoopCount = @count;

                $interval(function () {
                    var top = $(".scrollable").position().top;
                    var height = $(window).height();
                    $(".scrollable").height(height - top - 1);
                }, 1000);

                $scope.PercentSum = function (users) {
                    if (users.length == 0)
                        return "";
                    var percent = 0;
                    angular.forEach(users, function (u) { percent += u.ProjectedPercent; });
                    return percent;
                };

                $scope.MinimumTime = function (users) {
                    if (users.length == 0)
                        return "";
                    var min = _.minBy(users, function (o) { return o.TimeLeft; });
                    return min.Status;
                };

                $scope.sortableOptions = {
                    connectWith: ".sortablers",
                    items: "tr:not(.notsortable)"
                };

                $scope.dropCallback = function (item, coop) {
                    if (confirm("Do you want to move " + item.Name + " to " + coop.Name)) {
                        $http.post("/contract/movetocoop?CoopId=" + coop.CoopId + "&UserId=" + item.DatabaseId + "&EggIncId=" + item.EggIncId, {}).then(function Success(response) {
                            if (response.data.error) {
                                alert(response.data.error);
                            } else {
                                if (coop.Users.length == coop.MaxSize) {
                                    coop.Hide = true;
                                }
                                console.log(response);
                                RemoveUser(item);
                                //alert(response.data.userName + " moved to " + response.data.coopName);
                            }
                        }, function Error(response) {
                            alert("Error");
                            console.log(response);
                        });
                        return item;
                    } else {
                        return false;
                    }
                };

                $scope.Start = function (coop, coopList, potential) {
                    if (confirm("Are you sure you want to start this co-op?")) {
                        var prefarms = [];
                        angular.forEach(coop.Users, function (user) {
                            prefarms.push({ EggIncId: user.EggIncId, DatabaseId: user.DatabaseId, Name: user.Name })
                        });
                        $http.post("/contract/startcoop?GuildId=@Model.GuildContract.GuildID&ContractID=@Model.GuildContract.ContractID&League=@Model.GuildContract.League", prefarms).then(function Success(response) {
                            if (response.data.error) {
                                alert(response.data.message);
                                return;
                            }
                            console.log(response);
                            //alert("Co-op " + response.data + " Created");
                            $scope.ActiveCoops.unshift(coop);
                            coop.Name = response.data.coopName;
                            coop.Stats = "Just Created";
                            //$.each(coop.Users, function () { this.Locked = true; });
                            $.each(coopList, function (i) {
                                console.log(coopList[i].Count, coop.Count);
                                if (coopList[i].Count == coop.Count) {
                                    coopList.splice(i, 1);
                                    return;
                                }
                            });

                            $.each(coop.Users, function (index, User) {
                                RemoveUser(User);
                            });

                        }, function Error(response) {
                            alert("Error");
                            console.log(response);
                        });
                    }
                };

                $scope.RemoveXref = function (user, coop) {
                    if (confirm("Are you sure you want to remove " + user.Name + " from the co-op?")) {
                        $http.post("/contract/removexref", { UserId: user.UserId, EggIncId: user.EggIncId, CoopId: coop.CoopId }).then(function Success(response) {
                            if (response.data.error) {
                                alert(response.data.message);
                                return;
                            }
                            var index = coop.Users.indexOf(user);
                            coop.Users.splice(index, 1);
                        }, function Error(response) {
                            alert("Error");
                            console.log(response);
                        });
                    }
                };

                function RemoveUser(user) {
                    console.log(user);
                    _.forEach($scope.PotentialCoops, function (coop) {
                        _.forEach(coop.Users, function (coopUser, index) {
                            if (!coopUser) {
                                console.log(coopUser, index, coop);
                                return;
                            }
                            if (coopUser.EggIncId == user.EggIncId) {
                                coop.Users.splice(index, 1);
                                console.log("Removed " + user.Name);
                            }
                        });
                    });

                    //$.each($scope.PotentialCoops, function (i) {
                    //    $.each($scope.PotentialCoops[i].Users, function (coopUserIndex, coopUser) {
                    //        if (user.EggIncId == coopUser.EggIncId) {
                    //            $scope.PotentialCoops[i].Users.splice(coopUserIndex, 1);
                    //            console.log("Removed " + user.Name);
                    //        }
                    //    });
                    //});
                    $scope.UsersByEB = _.sortBy(GetUsersByEB(), [$scope.SortAll]);
                //    $.each($scope.UsersByEB, function (coopUserIndex, coopUser) {
                //        if (!coopUser) {
                //            console.log(coopUser)
                //            return;
                //        }
                //        if (user.EggIncId == coopUser.EggIncId) {
                //            $scope.UsersByEB.splice(coopUserIndex, 1);
                //            console.log("Removed " + user.Name);
                //        }
                //    });
                }

                $scope.UsersByEB = GetUsersByEB();

                function GetUsersByEB() {
                    var users = [];
                    _.forEach($scope.PotentialCoops, function (value, key) {
                        _.forEach(value.Users, function (user, key) {
                            users.push(user);
                        });
                    });
                    return users;
                }

                $scope.$watch("SortAll", function (newValue) {
                    $scope.UsersByEB = _.sortBy($scope.UsersByEB, [newValue]);
                });


                $scope.SpotsActive = function () {
                    return _.sumBy($scope.ActiveCoops, function (o) { return o.Status == "Finished" ? 0 : Math.max(0, o.MaxSize - o.Users.length); });
                };

                $scope.SpotsActive24 = function () {
                    return _.sumBy($scope.ActiveCoops, function (o) { return o.Status == "Finished" || o.HoursToFinish < 24 ? 0 :Math.max(0, o.MaxSize - o.Users.length); });
                };

                $scope.ToggleAll = function () {
                    _.forEach($scope.ActiveCoops, function (coop) {
                        coop.Hide = !coop.Hide;
                    });
                };
            }]);
        angular.module('egg9000').filter('percentage', ['$filter', function ($filter) {
            return function (input, decimals) {
                return $filter('number')(input * 100, decimals) + '%';
            };
        }]);
    </script>
}